@import '../../../themes/themes';

.rsContactInfoAndPaymentCard {
	background-color: theme-var($primaryBackgroundColor);
	.contactInfo {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	.rsLabelInput {
		.rsInput {
			&.textarea {
				max-width: 100%;
				width: 100%;
				height: 150px;
				padding: 10px;
			}
		}

		.react-tel-input {
			input {
				max-width: 200px;
			}
		}
	}

	.creditCardExpInput {
		input {
			text-align: center;
		}
	}
}

.small {
	.rsContactInfoAndPaymentCard {
		.contactInfo {
			flex-wrap: wrap;
			justify-content: center;
		}
		.creditCardInfo {
			flex-wrap: wrap;
			justify-content: center !important;
		}

		.rsLabelInput {
			width: 100%;
			margin-bottom: 15px;
			.rsInput {
				max-width: 100%;
				width: 100%;
			}
		}
	}
}
