@import '../../themes/themes';

.rsCheckOutInfoCard {
	display: flex;
	flex-direction: column;
	align-items: center;

	form {
		width: 100%;

		.rsLabelInput {
			.rsInput {
				max-width: 100%;
			}
		}
		.phoneInput {
			max-width: 100%;
			width: 100%;
		}
		.rsSelect {
			max-width: 100%;
			width: 100%;
			span {
				display: none;
			}
		}
		.rsButton {
			padding: 17px 63px;
		}
		.phoneError {
			&:after {
				content: 'Enter a valid phone number';
				color: red;
			}
		}
	}

	.fieldGroup {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 34px;
		margin-top: 36px;

		&.stretchedInput {
			grid-template-columns: 1fr;
		}

		&.rightSide {
			display: flex;
			justify-content: flex-end;
		}
	}

	.message {
		border: 1px solid theme-var($greyLineColor);
		border-radius: 20px;
		padding: 20px;
	}
}

.small {
	.rsCheckOutInfoCard {
		form {
			.fieldGroup {
				grid-template-columns: 1fr;
			}
		}
	}
}
