@import '../../themes/themes';

.rsUpdatePasswordPopup {
	background-color: white;
	width: 100%;
	max-width: 488px;
	border-radius: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	max-height: 100%;
	min-height: 596px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: relative;
	font-family: Montserrat;

	&::-webkit-scrollbar {
		display: none;
	}

	.popupBody {
		margin: 16px 24px 32px;
		font-size: 12px;
		font-weight: 300;
		line-height: 16px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		.rsInput {
			height: 48px;
		}

		.passwordInput {
			width: 100%;

			.rsInput {
				max-width: 100%;
			}
		}

		.h6 {
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 0;
			text-align: left;
		}
		.rsButton {
			padding: 24px 0;
		}

		.rsIconLabel {
			margin-top: 8px;
		}
	}

	.closeBtn {
		position: absolute;
		top: 28px;
		right: 16px;
		cursor: pointer;
	}

	.popupTitle {
		padding: 24px;
		background: theme-var($primaryBackgroundColor);
		box-shadow: inset 0px -1px 0px #dddddd;

		.h5 {
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0;
			text-align: left;
		}
	}

	.success {
		color: #00c168;
		.rsLabel {
			color: #00c168;
		}
	}
	.failure {
		color: #ff0808;
		.rsLabel {
			color: #ff0808;
		}
	}
}

.small .rsUpdatePasswordPopup {
	max-width: 95%;
}
