@import '../../themes/themes';

.rsAppBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	height: 80px;
	width: clamp(335px, 100%, 1920px);
	transition: top 300ms;
	&.hide {
		top: -90px;
	}

	.logoContainer {
		margin: 42px 0 0 34px;
	}

	.menuContainer {
		background-color: white;
		border: 1px solid theme-var($greyLineColor);
		border-radius: 10px;
		max-width: 76px;
		max-height: 39px;
		margin: 42px 34px 12px 12px;
		cursor: pointer;
		.rsIcon {
			&.icon-account-icon {
				padding-right: 10px;
			}
			&.icon-hamburger-menu {
				padding: 12px;
			}
		}
	}
}

.small {
	.rsAppBar {
		max-height: 64px;
		width: 100%;
		background-color: white;
		.logo {
			padding: 14px;
			max-width: 100px;
		}
		.logoContainer {
			margin: 15px;
		}
		.menuContainer {
			margin: 15px;
		}
		border-bottom: 1px solid theme-var($greyLineColor);
	}
}
