@import '../../themes/themes';

.rsAppBar {
	position: fixed;
	top: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 80px;
	box-sizing: border-box;
	height: 80px;
	width: 100%;
	background-color: #fcfbf8;
	box-shadow: theme-var($primaryBoxShadowColor);
}
