@import 'src/themes/themes';

.rsPointsOrLogin {
	.availablePendingPointsContainer {
		display: flex;
		align-content: flex-end;
		.availablePointsNumber {
			color: theme-var($iconAndHighlightTextColor);
		}

		.pendingPointsNumber {
			color: theme-var($disableTextColor);
		}
		.pendingPointsContainer {
			margin-left: 40px;
		}
	}

	.signinContainer {
		display: flex;
		.signinLink {
			.rsLabel {
				color: theme-var($buttonLinkColor) !important;
			}
		}
	}
}

.small .rsPointsOrLogin {
	padding: 10px 20px 0 10px;
	width: 100%;
	.availablePendingPointsContainer {
		justify-content: space-between;
	}
}
