@import '../../themes/themes';

.small .rsCheckoutFlowPage {
	width: 100%;
	padding: 64px 0 32px;

	.rsButton.contained.primary {
		width: 100%;
	}

	.printableContentWrapper {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		padding: 0 24px;

		.rsCheckOutInfoCard {
			.rsBox.message {
				display: none;
			}
		}

		.leftColumn {
			margin-top: 32px;
		}

		.bookingSummaryColumn {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			min-width: 100%;
			box-sizing: border-box;
			margin-left: 0;

			.rsBookingSummaryCard {
				width: 100%;
				box-sizing: border-box;
			}
		}
	}
}

.rsCheckoutFlowPage {
	display: flex;
	flex-direction: column;
	width: clamp(335px, 100%, 1920px);
	box-sizing: border-box;
	padding: 100px 0 75px;
	margin: auto;

	@media screen and (max-width: 1230px) {
		padding: 64px 0 75px;
	}

	.printableContentWrapper {
		display: flex;
		padding: 0 85px;

		.leftColumn {
			display: flex;
			flex-direction: column;
			width: 100%;

			.rsConfirmationImageSummary,
			.rsThankYouCard,
			.rsPersonalInformation,
			.rsPaymentMethod,
			.rsPolicies {
				margin-bottom: 40px;
			}

			.missingView {
				width: 100%;
				font-size: 40px;
				font-weight: 800;
			}

			@media screen and (max-width: 1432px) {
				.rsCheckoutReservationSummaryCard {
					flex-direction: column;
					margin-bottom: 32px;

					.cardImage {
						width: 100%;
					}
				}
			}
		}

		.bookingSummaryColumn {
			width: 497px;
			min-width: 497px;
			max-width: 497px;
			margin-left: 94px;

			.rsPrintableQrCode {
				margin-bottom: 40px;
			}

			.printConfirmButton {
				width: 100%;
				max-width: 500px;
				font-family: Montserrat, serif;
				height: 57px;
				min-height: 57px;
				max-height: 57px;
				font-size: 20px;
				color: #2c3c60;
				box-shadow: none;
				font-weight: 500;
				margin-bottom: 36px;

				&.yellow {
					background-color: theme-var($secondaryButtonLinkColor);

					&:hover {
						background-color: theme-var($secondaryButtonLinkColor);
					}
				}

				&.blue {
					background-color: theme-var($buttonLinkColor);
					color: theme-var($primaryBackgroundColor);

					&:hover {
						background-color: theme-var($buttonLinkColor);
						color: theme-var($primaryBackgroundColor);
					}
				}

				&.none {
					display: none;
				}
			}
		}
	}

	@media screen and (max-width: 1270px) {
		.rsPersonalInformation {
			.billingAddressWrapper {
				padding-left: 40px;
			}
		}
	}
}
