@import '../../themes/themes';

.rsCheckoutFlowPage {
	display: flex;
	flex-direction: column;
	width: clamp(335px, 100%, 1920px);
	box-sizing: border-box;
	padding: 100px 0 75px;
	margin: auto;

	.printableContentWrapper {
		display: flex;
		padding: 0 85px;

		.leftColumn {
			display: flex;
			flex-direction: column;
			width: 100%;

			.rsConfirmationImageSummary {
				margin-bottom: 40px;
			}

			.rsThankYouCard {
				margin-bottom: 40px;
			}

			.rsPersonalInformation {
				margin-bottom: 40px;
			}

			.rsPaymentMethod {
				margin-bottom: 40px;
			}

			.rsPolicies {
				margin-bottom: 40px;
			}

			.missingView {
				width: 100%;
				font-size: 40px;
				font-weight: 800;
			}
		}

		.bookingSummaryColumn {
			width: 497px;
			min-width: 497px;
			max-width: 497px;
			margin-left: 94px;

			.rsPrintableQrCode {
				margin-bottom: 40px;
			}

			.printConfirmButton.yellow {
				width: 100%;
				background-color: #ffa022;
				font-family: Montserrat, serif;
				height: 57px;
				min-height: 57px;
				max-height: 57px;
				font-size: 20px;
				color: #2c3c60;
				box-shadow: none;
				font-weight: 500;
				margin-bottom: 36px;

				&:hover {
					background-color: #ffa022;
				}

				&.blue {
					background-color: #2c3c60;
					color: #fcfbf8;

					&:hover {
						background-color: #2c3c60;
						color: #fcfbf8;
					}
				}
			}
		}
	}
}
