@import '../../themes/themes';
.rsBookingFlowAddPackagePage {
	.rs-page-content-wrapper {
		max-width: 1160px !important;
		padding-top: 120px;
		hr {
			height: 1px;
			width: 100%;
			background: theme-var($greyLineColor);
			border: none;
			margin: 20px 0;
		}

		.rsDestinationPackageTile {
			margin-bottom: 50px;
		}

		.rsLinkButton {
			display: block;
			width: fit-content;
			width: -moz-fit-content;
			margin: 20px auto;
		}
	}
}
