@import '../../themes/themes';
.rsBookingFlowAddPackagePage {
	padding-top: 120px;

	display: flex;
	flex-wrap: nowrap;

	.packageSection {
		width: 65%;
		padding-left: 93px;

		.continueButton {
			height: 57px;
			width: clamp(200px, 50%, 285px);
			background: theme-var($secondaryButtonLinkColor);
			border-radius: 5px;
		}
	}

	.rsButton {
		margin: 20px 0 20px auto;
	}

	.rsDestinationPackageTile {
		margin-bottom: 50px;
	}
}

.small {
	.rsBookingFlowAddPackagePage {
		.packageSection {
			width: 100%;
			padding-left: 0;
		}
	}
	.rsButton {
		margin: unset;
	}
}
