@import '../../themes/themes';
.rsBookingFlowAddPackagePage {
	padding-top: 120px;

	display: flex;
	flex-wrap: nowrap;

	.packageSection {
		width: 63%;
		padding-left: 93px;
	}

	hr {
		height: 1px;
		width: 100%;
		background: theme-var($greyLineColor);
		border: none;
		margin: 20px 0;
	}

	.rsButton {
		margin: 20px auto;
	}

	.rsDestinationPackageTile {
		margin-bottom: 50px;
	}
}
