@import 'src/themes/themes';

.rsMenuItem {
	height: 50px;
	width: 100%;
	justify-content: flex-start !important;
	padding: 0 10px !important;
	color: inherit !important;
	background-color: #333333;

	.marginLeft {
		margin-left: 10px;
	}

	.rsLabel {
		font-weight: 700;
	}

	transition: filter 300ms;
	&:hover {
		filter: brightness(1.2) !important;
	}
}
