@import 'src/themes/themes';

.rsAccommodationSearchCardMobile {
	width: 100%;
	min-width: 328px;
	padding: 20px;
	.accommodationDetailsContainer {
		width: 100%;
		padding: 10px 0 24px 0;
		border-bottom: 1px solid theme-var($greyLineColor);
		.accommodationTitle {
			padding-bottom: 14px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.detailsTextContainer {
			display: flex;
			padding-bottom: 15px;
		}
		.rateCodeTitle {
			padding-bottom: 8px;
		}
		.rateCodeDescription {
			padding-bottom: 9px;
		}
		.pricePerNight {
			display: flex;
			padding-bottom: 8px;
		}
		.yellowText {
			color: theme-var($yellowTextColor);
		}
		.earnText {
			padding-bottom: 15px;
		}
		.buttonContainer {
			display: flex;
			justify-content: flex-end;
		}
	}
}
