@import '../../themes/themes';
.rsReviewCard {
	box-sizing: border-box;
	padding-bottom: 25px;
	.rsChip {
		margin-left: 5px;
	}
	.packageAndChipWrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;
	}
}
.small {
	.rsReviewCard {
		.packageAndChipWrapper {
			flex-direction: column;
			align-items: flex-start;
		}

		.rsChip {
			margin-left: unset;
			margin-right: 5px;
			font-size: 12px;
			height: 28px;
		}
	}
}
