@import '../../themes/themes';

.rsFeaturedResortCard {
	img {
		width: 573px;
		height: 355px;
		object-fit: cover;
		margin-bottom: 10px;
	}
	.rsLabelLink {
		.rsLabel,
		.rsIcon {
			color: theme-var($buttonLinkColor);
		}
	}
}
