@import '../../../themes/themes';

.rsBookingCartTotalsCard {
	background: theme-var($primaryBackgroundColor);

	.articleItemHeader {
		padding: 0;
	}
	.rsIcon {
		&.icon-trash {
			margin-left: 7px;
		}
	}

	.rsAccordion {
		margin-bottom: 10px;
		.articleItemHeader {
			padding: 0;
		}
	}
}
