@import '../../../themes/themes';

.rsBookingCartTotalsCard {
	//height: fit-content;
	background: theme-var($primaryBackgroundColor);

	.rsIcon {
		&.icon-trash {
			margin-left: 7px;
		}
	}

	.rsAccordion {
		margin-bottom: 10px;
		.articleItemHeader {
			padding: 0;
		}
	}
}
