@import '../../themes/themes.scss';

.rsAccommodationSearchResultCard {
	display: flex;
	div {
		margin: 0;
	}
	> div {
		position: relative;
	}
	.rsCarousel {
		position: relative;
		height: 280px;
		width: 278px;
		.carouselParent {
			overflow-x: hidden;
		}
	}

	.info {
		margin-left: 40px;
		margin-right: 15px;
		> div {
			display: flex;
			.rsLabel {
				margin: auto 0;
				&:last-of-type {
					margin-left: 5px;
				}
			}
			.rsStarRating {
				margin-right: 15px;
			}
			&.accommodationDescription {
				margin-top: 15px;
			}
		}
	}

	> div.detailCardHolder {
		align-self: end;
	}

	.rsAccommodationSearchDetailCard {
		position: relative;
		width: 290px;
		padding: 20px 0 20px 20px;
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: theme-var($iconAndHighlightTextColor);
			left: 0;
			top: 0;
			opacity: 15%;
		}
	}
}

.small {
	.rsAccommodationSearchResultCard {
		display: grid;
		grid-template-columns: 100px auto;
		column-gap: 10px;
		grid-template-rows: 145px 117px;
		row-gap: 15px;
		> img:first-child {
			width: 100px;
			height: 145px;
		}
		.info {
			display: block;
			margin: 0;
			.taxAndFees {
				margin-bottom: 12px;
			}
			.rsStarRating {
				margin-bottom: 20px;
			}
			.rsLabelButton {
				position: absolute;
				bottom: 0;
			}
		}
	}
}
