@import '../../themes/themes.scss';

.rsAccommodationSearchResultCard {
	display: flex;
	position: relative;
	.rsCarousel {
		position: relative;
		height: 280px;
		width: 278px;
		min-width: 278px;
		.carouselParent {
			overflow-x: hidden;
		}
		.accommodationGalleryImage {
			width: 278px;
			height: 280px;
			object-fit: cover;
		}
	}

	.info {
		margin-left: 40px;
		margin-right: 15px;
		width: 100%;
		> div {
			display: flex;
			.rsLabel {
				margin: auto 0;
				&:last-of-type {
					margin-left: 5px;
				}
			}
			.rsStarRating {
				margin-right: 15px;
			}
			&.accommodationDescription {
				margin-top: 15px;
				height: clamp(100px, 150px, 183px);
			}
		}
	}

	> div.detailCardHolder {
		align-self: end;
	}

	.rsAccommodationSearchDetailCard {
		position: relative;
		width: 290px;
		padding: 20px 0 20px 20px;
		background-color: #f7f1db;

		.amenityIcons {
			.rsIcon::before {
				color: theme-var($primaryTextColor);
			}
		}
	}

	.rsAccommodationSearchCallToActionCard {
		align-self: flex-end;
	}
}

.small {
	.rsAccommodationSearchResultCard {
		display: grid;
		grid-template-columns: 120px auto;
		column-gap: 30px;
		grid-template-rows: 145px 117px;
		row-gap: 15px;
		.rsAccommodationSearchCallToActionCard {
			grid-column: span 2;
		}
		> img:first-child {
			margin-left: 5px;
			width: 120px;
			height: 145px;
		}
		.info {
			display: block;
			margin: 0;
			.taxAndFees {
				margin-bottom: 12px;
			}
			.rsStarRating {
				margin-bottom: 20px;
			}
		}
	}
}
