@import 'src/themes/themes';

.rsComparisonTableMobile {
	display: flex;
	padding-top: 30px;
	gap: 5px;
	.pinnedSection {
		display: flex;
		max-width: 60vw;
		gap: 5px;
		padding-right: 5px;
		border-right: 2px solid theme-var($greyLineColor);
		.rowTitles {
			padding: 5px;
			border-right: 2px solid theme-var($greyLineColor);
			text-align: center;
			display: grid;
			gap: 20px;
			grid-template-rows: 100px 40px 40px 40px 40px 1fr;
			align-items: center;
			.oddCell {
				background-color: #fcfbf8;
			}
		}
	}
	.unpinnedSection {
		display: flex;
		overflow: auto;
		gap: 5px;
		.unpinnedAccommodation {
			border-right: 2px solid theme-var($greyLineColor);
		}
	}
}
