@import '../../themes/themes';
.rsAccountPersonalInfoPage {
	display: grid;
	place-items: center;
	padding: 230px 95px 100px;
	box-sizing: border-box;
	background: #f8f8f8 !important;
	.rsPaper {
		width: 700px;
		padding: 63px 70px 41px;
		background: #ffffff;

		.fakeEmailInput {
			border-radius: 5px;
			height: 40px;
			background: #dedede;
			padding: 8px 10px;
			box-sizing: border-box;
			margin-bottom: 9px;
			display: flex;
			align-items: center;
			.rsLabel {
				color: #1e180b6e;
			}
		}

		.rsLabel {
			&.customFourteen {
				text-align: end;
			}
		}

		.rsLabelInput {
			.rsInput {
				max-width: 280px;
			}
		}

		.rsLabelButton {
			margin-left: auto;
			&.contained {
				&.primary {
					background-color: #ffa022;
					padding: 16px 46px;
					box-sizing: border-box;
					.rsLabel {
						color: #2c3c60;
					}
					&:hover {
						background-color: #ffa022;
					}
				}
			}
		}
		.phoneInput {
			margin-bottom: 12px;
			.react-tel-input {
				input {
					width: 100%;
				}
			}
		}

		.rsLabelLink {
			margin-left: auto;
			margin-bottom: 32px;
		}
	}
}

.small {
	.rsAccountPersonalInfoPage {
		padding: 145px 17px 38px;
		.rsPaper {
			width: 100%;
			padding: 30px 35px;
			.rsLabelButton {
				margin: 0 auto;
				width: 100%;
			}
			.rsBox {
				.rsLabelInput {
					margin-bottom: 25px;
					.rsInput {
						max-width: 100%;
						min-width: 100%;
					}
				}
			}
		}
	}
}
