@import '../../themes/themes';
.rsAccountPersonalInfoPage {
	display: grid;
	place-items: center;
	padding: 230px 95px 100px;
	box-sizing: border-box;
	background: #f8f8f8 !important;
	.rsPaper {
		width: 700px;
		padding: 63px 70px 41px;
		background: #ffffff;

		.emailAddressTitle {
			display: flex;
			justify-content: space-between;
			margin-bottom: 8px;
		}

		.fakeEmailInput {
			border-radius: 5px;
			height: 40px;
			background: #dedede;
			padding: 8px 10px;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			margin-bottom: 26px;

			.rsLabel {
				color: #1e180b6e;
			}
		}

		.nameEntries {
			display: flex;
			gap: 32px;
			.rsLabelInput {
				width: 100%;
			}
		}
		.rsLabel {
			&.customFourteen {
				text-align: end;
			}
		}

		.rsLabelInput {
			.rsInput {
				max-width: 100%;
			}
		}

		.rsLabelButton {
			margin-left: auto;
			&.contained {
				&.primary {
					background-color: theme-var($yellowTextColor);
					padding: 16px 46px;
					box-sizing: border-box;
					.rsLabel {
						color: #222222;
					}
					&:hover {
						background-color: theme-var($yellowTextColor);
					}
				}
			}
		}
		.phoneInput {
			margin-bottom: 12px;
			.react-tel-input {
				input {
					width: 100%;
				}
			}
		}

		.phonePasswordRow {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 32px;

			.updatePasswordButton {
				margin-top: 8px;
				margin-left: 45px;
			}
		}
		.saveBtn {
			width: 84px;
			height: 48px;
		}
		.phoneInput {
			.flag-dropdown {
			}
			input {
				font-family: Montserrat;
				font-style: normal;
				font-size: 16px;
				line-height: 20px;
				color: #222222 !important;
			}
		}
	}
}

.small {
	.rsAccountPersonalInfoPage {
		padding: 145px 17px 38px;
		.rsPaper {
			width: 100%;
			padding: 30px 35px;
			.rsLabelButton {
				margin: 0 auto;
				width: 100%;
			}
			.emailAddressTitle {
				display: flex;
				flex-direction: column;
				margin-bottom: 8px;
			}
			.nameEntries {
				gap: 0px;
			}
			.rsBox {
				.rsLabelInput {
					margin-bottom: 25px;
					.rsInput {
						max-width: 100%;
						min-width: 100%;
					}
				}
			}
			.phonePasswordRow {
				flex-direction: column;
				flex-wrap: wrap;
				display: flex;
				gap: 0px;
			}

			.updatePasswordButton {
				margin-top: 8px;
				margin-left: 0;
			}
			.saveBtn {
				margin-top: 30px;
			}
		}
	}
}
