@import '../../../themes/themes';

.rsSearchResultCard {
	display: flex;
	width: 100%;
	height: 280px;
	padding: 20px 0;

	.rsCarousel {
		position: relative;
		height: 280px;
		width: 278px;
		min-width: 278px;
		.carouselParent {
			overflow-x: hidden;
		}
		.accommodationGalleryImage {
			width: 278px;
			height: 280px;
			object-fit: cover;
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		margin-left: 40px;
		margin-right: 15px;
		width: 100%;

		.detailCardHolder {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 20px 0;

			background: theme-var($iconAndHighlightTextColor);

			div {
				display: flex;
				column-gap: 10px;

				.roomStat {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}

	.bookNow {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-self: center;
		height: 50%;
	}
}
