@import '../../themes/themes';

.rsEditReservationDetailsPopup {
	background: theme-var($primaryBackgroundColor);
	width: 400px;
	padding: 50px 40px;
	position: relative;

	.guestWrapper {
		.rsLabelInput {
			width: 95px;
		}
	}

	.DateRangePickerInput {
		background-color: inherit;
	}

	.rsIcon {
		&.icon-close {
			position: absolute;
			top: 21px;
			right: 21px;
		}
	}
}

.small {
	.rsEditReservationDetailsPopup {
		width: 350px;
	}
}
