@import '../../themes/themes.scss';

.rsDashboardPage {
	//padding: 20px 100px;

	.show-on-scroll {
		color: blue;
		&.is-visible {
			color: red;
		}
	}

	.rsAccommodationSearchResultCard {
		width: 1160px;
		border-bottom: 1px solid theme-var($greyLineColor);
		height: 310px;
		> div {
			margin-bottom: 30px;
		}
	}
}
