@import '../../themes/themes.scss';

.rsDashboardPage {
	//padding: 20px 100px;

	.show-on-scroll {
		color: blue;
		&.is-visible {
			color: red;
		}
	}

	.rsTabbedImageGallery {
		width: 100%;
		height: 640px;
		margin: 50px auto 150px auto;
	}

	.rsDestinationSearchResultCard {
		width: 1160px;
		height: 280px;
		padding-bottom: 30px;
		border-bottom: 1px solid theme-var($greyLineColor);
	}

	.rsAccommodationSearchResultCard {
		width: 1160px;
		height: 280px;
		padding-bottom: 30px;
		border-bottom: 1px solid theme-var($greyLineColor);
	}
}

.small {
	.rsDashboardPage {
		padding: 0;

		.rsTabbedImageGallery {
			width: 375px;
			height: 385px;
			margin-bottom: 100px;
		}

		.rsDestinationSearchResultCard {
			margin-left: 20px;
			width: 335px;
			height: 193px;
			padding-bottom: 25px;
			border-bottom: 1px solid theme-var($greyLineColor);
		}

		.rsAccommodationSearchResultCard {
			margin-left: 20px;
			width: 335px;
			height: 277px;
			padding-bottom: 15px;
			border-bottom: 1px solid theme-var($greyLineColor);
		}
	}
}
