@import '../../themes/themes';

.rsUserPointStatusBar {
	background-color: theme-var($primaryBackgroundColor);
	> .rsBox:first-of-type {
		width: 100%;
		height: 100%;
		grid-template-columns: auto auto auto;
		grid-template-rows: 20px 40px 20px;

		.loadingBarContainer {
			align-self: center;
			width: 100%;
			height: 20px;
			background: theme-var($secondaryBackgroundColor);
			overflow-x: hidden;
			.loadingBar {
				position: relative;
				transition: width 300ms ease;
				height: 100%;
				background: theme-var($iconAndHighlightTextColor);
				clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
			}
		}
	}
	.rsLabelLink {
		.rsLabel {
			color: theme-var($buttonLinkColor);
		}
	}
	.rsLabelButton {
		.rsLabel {
			color: theme-var($buttonLinkColor);
			&:hover {
				text-decoration: underline;
				text-underline: theme-var($buttonLinkColor);
			}
		}
	}
	.pointsExpireContainer {
		display: flex;
		align-items: center;
		padding-left: 30px;
		box-sizing: border-box;
		background: theme-var($secondaryBackgroundColor);
		width: 100%;
		height: 30px;
	}

	.rsLabel {
		&.h1 {
			font-size: 40px;
			line-height: 45px;
			&.yellow {
				color: theme-var($iconAndHighlightTextColor);
			}
			&.grey {
				color: #9b9b9b;
			}
		}
	}
}
