@import '../../../themes/themes';
.rsItineraryCardResponsive {
	display: flex;
	width: 100%;

	.columnOne {
		width: 24%;
		height: auto;
		margin-right: 16px;
		.rsCarouselV2 {
			width: 315px;
			height: 240px;
		}
	}

	.columnTwo {
		width: 61%;
		height: auto;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		.rowOne {
			.locationIcon {
				margin-right: 7px;
			}
		}
		.rowThree {
			margin-top: auto;
			.experienceWrapper {
				display: flex;
			}
		}
	}

	.columnThree {
		width: 15%;
		display: flex;
		flex-direction: column;
		text-align: right;
		margin-top: auto;
		cursor: pointer;
		.rsLabelLink {
			width: unset;
			justify-content: end;
		}
	}
}
