@font-face {
	font-family: 'MrsEavesXL';
	src: url('MrsEavesXLSerifOT-Heavy.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'MrsEavesXL';
	src: url('MrsEavesXLSerifOT-HeavyItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 900;
}

@font-face {
	font-family: 'MrsEavesXL';
	src: url('MrsEavesXLSerifOT-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'MrsEavesXL';
	src: url('MrsEavesXLSerifOT-Bold.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'MrsEavesXL';
	src: url('MrsEavesXLSerifOT-Reg.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'MrsEavesXL';
	src: url('MrsEavesXLSerifOT-RegItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Mrs-Eaves-All-Petite-Caps';
	src: url('Mrs-Eaves-All-Petite-Caps-OT.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
