@import '../../themes/themes';
.rsLightBoxCarouselPopup {
	width: 100vw;
	height: 100vh;
	background: #ffffff;
	position: relative;

	.tabContainer {
		height: 80px;
		background: #ffffff;
		display: flex;
		justify-content: space-between;
		box-shadow: theme-var($primaryBoxShadowColor);
		.closeButtonTabs {
			width: 80px;
			height: 100%;
			border-left: 1px solid #7070706e;
		}
		.tab {
			padding: 0 30px;
			box-sizing: border-box;
			height: 100%;
			&.selected {
				border-bottom: 3px solid theme-var($yellowTextColor);
			}
		}
	}

	.buttonAndPaperWrapper {
		position: absolute;
		width: 100%;
		padding: 0 30px 30px;
		box-sizing: border-box;
		z-index: 10;
		bottom: 0;
		.rsPaper {
			position: relative;
			width: 100%;
			padding: 20px 60px 20px 30px;
			background: #ffffff;
		}
	}
	.imageWrapper {
		height: 100%;
		display: flex;
		overflow: auto;
		overflow-x: hidden;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-webkit-scroll-snap-type: mandatory;
		scroll-snap-type: x mandatory;
		-webkit-scroll-snap-points-x: repeat(100%);
		scroll-snap-points-x: repeat(100%);
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		.rsImg {
			width: 100%;

			object-fit: cover;
			overflow: visible;
			scroll-snap-align: center;
		}
	}

	.closeButton {
		position: absolute;
		top: 40px;
		right: 40px;
		height: 70px;
		width: 70px;
		z-index: 10;
		border: 2px solid #ffffff;
		border-radius: 50%;
		background: #1e180b6e;
	}
}
