.rsSearchPage {
	.searchTitleBar {
		box-sizing: border-box;
		height: 180px;
		background-color: #7c7c7c;
		padding: 10px;
	}
	.filters {
		padding: 10px 40px;
		flex-direction: column;
		.filterBy {
			padding: 10px 0;
		}
		.filterInputs {
			flex-direction: row;
			flex-wrap: wrap;
			margin: 20px;
		}
		.datePicker {
			margin: inherit;
		}
		.adults {
			margin: inherit;
		}
		.children {
			margin: inherit;
		}
		.roomClass {
			margin: inherit;
		}
		.currencyCode {
			margin: inherit;
		}
		.priceRangeMin {
			margin: inherit;
		}
		.priceRangeMax {
			margin: inherit;
		}
		.searchButtonBox {
			margin: inherit;
			justify-content: space-around;
		}
	}
	.searchResults {
		box-sizing: border-box;
		padding: 0 100px;
		margin-top: 80px;
		flex-wrap: wrap;
		.destinationPictures {
			max-height: 280px;
			min-height: 180px;
			max-width: 280px;
			min-width: 180px;
			margin: 0 20px;
			background-color: #7c7c7c;
			align-items: center;
		}
	}
}
