.rsSearchPage {
	.searchTitleBar {
		box-sizing: border-box;
		height: 180px;
		background-color: #7c7c7c;
		padding: 10px;
	}
	.filters {
		height: 200px;
		padding: 10px 40px;
		flex-direction: column;
	}
	.filterBy {
		padding: 10px 0;
	}
	.filterInputs {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
