@import '../../themes/themes';
.rsReservationDetailsPage {
	padding: 230px 95px 100px;
	box-sizing: border-box;
	background: #f8f8f8 !important;
	.rs-page-content-wrapper {
	}

	.contentWrapper {
		display: grid;
		grid-template-columns: 700px 475px;
		column-gap: 64px;
		padding: 0 95px;
		box-sizing: border-box;
		.rsReservationDetailsAccordion {
			margin-bottom: 40px;
		}

		.rsReservationDetailsCostSummaryCard {
			margin-bottom: 40px;
		}
	}
}

.small {
	.rsReservationDetailsPage {
		padding: 145px 17px 100px;
		.rsHeroImage {
			padding: 0 16px;
			box-sizing: border-box;
			.rsItineraryInfoCard {
				position: relative;
				bottom: -85px;
				left: auto;
			}
		}

		.contentWrapper {
			grid-template-columns: 100%;
			padding: 0 16px;
		}
	}
}
