@import '../../themes/themes';
.rsReservationDetailsPage {
	.rsHeroImage {
		position: relative;
		.rsPaper {
			background: #ffffff;
			position: absolute;
			left: 80px;
			bottom: -40px;
			z-index: 11;
			.rsLabelLink {
				.rsLabel {
					color: theme-var($buttonLinkColor);
				}
			}
			.rsLabel {
				&.h2:first-of-type {
					display: flex;
					align-items: center;
					img {
						width: 100px;
						height: 50px;
						object-fit: contain;
						margin-left: 10px;
					}
				}
			}
		}
		.tanBox {
			position: absolute;
			background: #f7f1db;
			width: 532px;
			height: 80px;
			bottom: -80px;
			left: 0;
			z-index: 9;
		}
	}

	.mainSection {
		display: grid;
		grid-template-columns: 670px 420px;
		column-gap: 70px;
		margin: 160px auto 0;
		max-width: 1160px;
	}
}
