@import '../../themes/themes';

.rsAccountPaymentMethodsPage {
	.rsLabel {
		&.h2 {
			margin-bottom: 20px;
		}
	}
	.fakeCreditCard {
		background: theme-var($primaryBackgroundColor);

		.rsLabel {
			&.caption {
				margin-bottom: 5px;
			}
		}

		img {
			margin-bottom: 20px;
		}
		.bottomStrip {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 65px;
			padding: 15px 30px 16px;
			box-sizing: border-box;
			background: theme-var($iconAndHighlightTextColor);
			border-radius: 0 0 4px 4px;
			.rsLabel {
				color: white;
			}
		}
	}

	.rsLabelInput,
	.rsLabelSelect,
	.rsLabelCheckbox {
		margin-bottom: 20px;
		&.inputStretched {
			input {
				min-width: 100%;
			}
		}
	}

	hr {
		width: 921px;
		height: 1px;
		border: none;
		margin: 0 auto;
		background-color: theme-var($greyLineColor);
	}

	#payment-form {
		display: grid;
		grid-template-columns: auto auto;
		row-gap: 10px;
		column-gap: 15px;

		.creditCardExpInput {
			input {
				text-align: center;
			}
		}

		iframe {
			height: 40px;
		}
	}

	.rsLabelCheckbox {
		height: auto;
		align-items: flex-start;
		margin-top: 10px;

		a {
			span {
				color: theme-var($buttonLinkColor);
				text-decoration: underline;
			}
		}
	}

	.creditCardExpInput {
		input {
			text-align: center;
		}
	}

	.otherCardContainer {
		display: grid;
		grid-template-columns: 200px auto;
		place-content: center;

		.otherPaymentCardWrapper {
			display: grid;
			grid-template-columns: 200px 200px 200px;
			row-gap: 50px;
			column-gap: 50px;
		}
	}
}
