@import '../../themes/themes';

.rsReservationInfoCard {
	display: flex;

	.contentFont {
		font-weight: $semiBold;
	}

	.rsButton {
		justify-self: center;
	}

	.rsIcon {
		margin-right: 8px;
		&:before {
			color: theme-var($primaryTextColor);
		}
	}
}

.small {
}
