@import '../../themes/themes';

.rsReservationInfoCard {
	display: grid;
	grid-template-columns: 240px auto 150px;
	column-gap: 45px;
	row-gap: 25px;
	.rsLabel {
		&.caption {
			margin-bottom: 5px;
		}
	}

	.rsButton {
		justify-self: center;
	}

	.rsIcon {
		margin-right: 8px;
		&:before {
			color: theme-var($primaryTextColor);
		}
	}
}

.small {
	.rsReservationInfoCard {
		grid-template-columns: 240px;
	}
}
