@import '../../themes/themes';

.rsReservationInfoCard {
	display: grid;
	grid-template-columns: 240px auto auto;
	column-gap: 45px;
	row-gap: 25px;
	.rsLabel {
		&.caption {
			margin-bottom: 5px;
		}
	}

	.amenities {
		text-overflow: ellipsis;
	}

	.rsIcon {
		margin-right: 8px;
		&:before {
			color: theme-var($primaryTextColor);
		}
	}
}
