.rsCounter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.valueChanger {
		display: grid;
		grid-template-columns: repeat(3, 26px);
		align-items: center;
		margin-left: auto;
		.rsLabel {
			text-align: center;
		}

		.rsButton {
			width: 26px;
			height: 26px;
			border-radius: 50%;
			border: 1px solid #7070706e;
		}
	}
}
