.rsCounter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 28px;
	.valueChanger {
		display: grid;
		grid-template-columns: repeat(3, 30px);
		align-items: center;
		.rsLabel {
			text-align: center;
		}
		.rsIcon {
			height: 26px;
			width: 26px;
			border: 1px solid black;
			border-radius: 50%;
			text-align: center;
			&:before {
				position: relative;
				top: 15%;
			}
		}
	}
}
