@import '../../themes/themes.scss';

.rsAccommodationSearchDetailCard {
	padding: 40px 0 40px 40px;
	box-sizing: border-box;

	.amenityIcons {
		display: inline-block;
		margin-bottom: 18px;
		.rsIcon {
			margin-left: 20px;
			&:first-of-type {
				margin-left: 0;
			}
		}
	}
	.stats {
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 6px;
		.roomStat {
			.body2 {
				margin-top: 2px;
			}
		}
	}
}
