@import '../../themes/themes';
.rsIconFeatureTile {
	display: flex;
	align-items: center;
	background-color: theme-var($primaryBackgroundColor);
	margin: 25px auto;
	box-shadow: theme-var($primaryBoxShadowColor);
	.rsIcon {
		margin-right: 30px;
	}

	.rsIcon {
		&.icon-trash {
			margin-right: 0;
			margin-left: auto;
			transition: color 300ms;
			&:hover {
				color: theme-var($errorColor);
			}
		}
	}
}
