@import '../../../themes/themes';
.rsDestinationSearchResultCardMobile {
	max-width: 310px;
	width: 100%;
	.earnText {
		font-size: 13px;
		line-height: 15px;
		color: theme-var($yellowTextColor);
	}
	.yellowText {
		color: theme-var($yellowTextColor);
	}
	.buttonContainer {
		display: flex;
		flex-wrap: wrap;
		.accommodationButton {
			margin: 8px 16px 8px 0;
		}
	}
	.locationIcon {
		margin-right: 10px;
	}
}
