@import '../../themes/themes';
.rsCategoryImageGalleryMobile {
	.rsSelect {
		width: 300px;
	}
	.rsCarousel {
		width: 100%;
		margin: 0 auto;
		&.imageContainer {
			.carouselChild {
				margin: 0 15px;
				.imageTiles {
					width: 300px;
					height: 250px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}
