@import '../../../themes/themes';

.rsSelectOption {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;
	width: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	&:hover {
		cursor: pointer;
		background: #1e180b33;
	}
	&.selected {
		background: #1e180b33;
	}
}
