@import '../../themes/themes';

.rsComparisonPopup {
	position: absolute;
	top: 80px;
	height: clamp(500px, 80vh, 1533px);
	width: clamp(390px, 95vw, 1758px);
	background: theme-var($primaryBackgroundColor);
	box-shadow: theme-var($primaryBoxShadowColor);
	z-index: 99;
	border-radius: 20px;
	overflow: scroll;
	scrollbar-width: none;
	.popupTitle {
		display: flex;
		justify-content: space-between;
		padding: 25px;
		border-bottom: 1px solid theme-var($greyLineColor);
	}

	.comparisonTable {
		display: flex;
		padding: 10px;
		box-sizing: border-box;
		.rowTitles {
			display: grid;
			grid-template-columns: 283px;
			grid-template-rows: 365px 85px 85px 85px 85px 85px 85px 85px;
			.borderRadiusTop {
				border-radius: 20px 0 0 0;
			}
			.borderRadiusBottom {
				border-radius: 0 0 0 20px;
			}
			.rsLabel {
				width: 100%;
				height: 100%;
				display: grid;
				align-items: center;
				padding: 0 24px;
				box-sizing: border-box;
				background-color: #f8f8f8;
				border-right: 1px solid theme-var($greyLineColor);

				&:not(:last-child) {
					border-bottom: 1px solid theme-var($greyLineColor);
				}
			}
		}
		.comparisonColumnWrapper {
			overflow-x: auto;
			display: grid;
			grid-template-columns: 455px;
			grid-template-rows: 365px 85px 85px 85px 85px 85px 85px 85px;

			.comparisonColumn {
				> .rsLabel,
				.rsSelect {
					width: 100%;
					height: 100%;
					display: grid;
					align-items: center;
					padding: 0 24px;
					box-sizing: border-box;
					border-right: 1px solid theme-var($greyLineColor);
					border-bottom: 1px solid theme-var($greyLineColor);
				}
				.carouselWrapper {
					display: grid;
					place-items: center;
					padding: 0 24px;
					box-sizing: border-box;
				}
			}
		}
		//display: grid;
		//grid-template-columns: max(283px) max(455px) max(455px) max(455px);
		//padding: 25px;
		//
		//.rowTitles {
		//	display: grid;
		//	grid-template-rows: 361px 1fr 1fr 1fr 1fr 1fr 1fr;
		//	//grid-template-areas:
		//	//				'a'
		//	//				'b'
		//	//				'c'
		//	//				'd'
		//	//				'e';
		//	//.secondRowColumnOne {
		//	//	area: b;
		//	//	border-radius: 20px 0 0 0;
		//	//}
		//	.rsLabel {
		//		display: grid;
		//		place-items: center;
		//		padding: 31px 121px 31px 23px;
		//		background: #f8f8f8;
		//		border-right: 1px solid theme-var($greyLineColor);
		//		&:not(:last-child) {
		//			border-bottom: 1px solid theme-var($greyLineColor);
		//		}
		//		&:first-of-type {
		//			border-radius: 20px 0 0 0;
		//		}
		//	}
		//}
		//.column {
		//	display: grid;
		//	grid-template-rows: 361px 1fr 1fr 1fr 1fr 1fr 1fr;
		//	place-items: center;
		//  > .rsLabel, .rsSelect {
		//    width: 100%;
		//    height: 100%;
		//    display: grid;
		//    align-items: center;
		//    padding: 0 24px;
		//    box-sizing: border-box;
		//    //align-self: center;
		//    border-right: 1px solid theme-var($greyLineColor);
		//    border-bottom: 1px solid theme-var($greyLineColor);
		//  }
		//	//> .rsBox {
		//	//  height: 100%;
		//	//  width: 100%;
		//	//  display: grid;
		//	//  align-items: center;
		//	//  border-right: 1px solid theme-var($greyLineColor);
		//	//  &:not(:last-child) {
		//	//    border-bottom: 1px solid theme-var($greyLineColor);
		//	//  }
		//	//  > .rsBox, .rsLabel {
		//	//    position: relative;
		//	//    display: grid;
		//	//    align-items: center;
		//	//    padding: 0 24px;
		//	//  }
		//	//}
		//	//}
		//}
		ul {
			padding: 0 10px;
		}
	}
}

.small {
	.rsComparisonPopup {
		.comparisonTable {
			display: flex;
			.rowTitles {
				display: grid;
				grid-template-columns: 80px;
				grid-template-rows: 150px 50px 50px 50px 50px 50px 1fr 1fr;
				.rsLabel {
					width: 100%;
					height: 100%;
					display: grid;
					align-items: center;
					padding: 0 24px;
					box-sizing: border-box;
					background-color: #f8f8f8;
					border-right: 1px solid theme-var($greyLineColor);
					&:not(:last-child) {
						border-bottom: 1px solid theme-var($greyLineColor);
					}
				}
			}
			.comparisonColumnWrapper {
				grid-template-columns: repeat(3, 130px);
				grid-template-rows:
					150px minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto)
					minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
				.comparisonColumn {
					> .rsLabel,
					.rsSelect {
					}
					.carouselWrapper {
					}
				}
			}
		}
	}
}
