@import '../../themes/themes';

.rsComparisonPopup {
	position: absolute;
	top: 80px;
	height: clamp(500px, 80vh, 1533px);
	width: clamp(390px, 95vw, 1758px);
	background: theme-var($primaryBackgroundColor);
	box-shadow: theme-var($primaryBoxShadowColor);
	z-index: 99;
	border-radius: 20px;
	overflow: auto;
	scrollbar-width: none;

	.popupTitle {
		position: sticky;
		top: 0;
		z-index: 100;
		background: #f8f8f8;
		display: flex;
		justify-content: space-between;
		padding: 25px;
		border-bottom: 1px solid theme-var($greyLineColor);
	}

	.comparisonTable {
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		overflow: auto;
		overflow-x: scroll;
		scrollbar-width: none;
	}
	.row {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 150px repeat(auto-fit, minmax(108px, 1fr));
		> .rsLabel,
		.rsSelect {
			width: 100%;
			box-sizing: border-box;
			padding: 20px 5px;
			&:not(:last-child) {
				border-right: 1px solid theme-var($greyLineColor);
			}
		}
		.rsSelect [class*='container'] {
			min-width: 80px;
			[class*='indicatorSeparator'] {
				width: 0;
			}
		}
		&:not(:last-child) {
			border-bottom: 1px solid theme-var($greyLineColor);
		}
		&.images {
			.rsLabel {
			}
			border-bottom: none;
			.rsImg {
				border-radius: 20px;
			}
		}
		&.images {
			margin-bottom: 20px;
			.carouselWrapper {
				display: grid;
				place-items: center;
				.rsLabel {
					padding: 0 5px;
				}
			}
			.carouselWrapper,
			.rsLabel {
				border-right: none;
			}
		}
		ul {
			padding: 0 20px;
		}
		&.propertyType {
			border-radius: 20px 20px 0 0;
			.title {
				border-radius: 20px 0 0 0;
			}
		}
		&.overview {
			border-radius: 0 0 20px 20px;
			.title {
				border-radius: 0 0 0 20px;
			}
		}
	}
	.title {
		box-sizing: border-box;
		background: #f8f8f8;
	}
}

.small {
	.rsComparisonPopup {
		.comparisonTable {
			.row {
				grid-template-columns: 80px repeat(auto-fit, minmax(108px, 1fr));
				&:nth-child(2n + 1) {
					&:not(.images) {
						background: #f8f8f8;
					}
				}
				&.images {
					.rsImg {
						width: 113px;
						height: 113px;
					}
				}
			}
		}
	}
}
