@import '../../themes/themes';
.rsFeaturesAndBenefitsPage {
	h1 {
		font-size: 40px;
		font-weight: 900;
		line-height: 45px;
		margin: 0;
	}

	.rsHeroImage {
		display: grid;
		place-items: center;
		h1 {
			span {
				color: theme-var($iconAndHighlightTextColor);
			}
		}
	}

	.sectionOne {
		margin: 120px auto;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		.imageText {
			display: grid;
			place-items: center;
			width: clamp(293px, 100%, 376px);
			margin: 0 7px;
			img {
				width: clamp(293px, 100%, 376px);
				height: 220px;
				object-fit: cover;
				margin-bottom: 15px;
			}
			.rsLabel {
				text-align: center;
			}
		}
	}

	.sectionTwo {
		> :nth-child(even) {
			background-color: theme-var($primaryBackgroundColor);
		}

		.infoBox {
			display: flex;
			height: 610px;
			width: 100%;
			.infoWrapper {
				&.flipped {
					flex-direction: row-reverse;
				}
				max-width: 1062px;
				width: 1062px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap-reverse;
				img {
					width: clamp(293px, 90%, 577px);
					height: 450px;
				}
				.textBox {
					display: grid;
					place-items: baseline;
					width: 422px;
					h1 {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}

.small {
	.rsFeaturesAndBenefitsPage {
		.rsHeroImage {
			background-position: center;
		}

		.sectionOne {
			margin: 60px auto;
			flex-direction: column;
			align-items: center;
			.imageText {
				margin-bottom: 20px;
			}
		}

		.sectionTwo {
			.infoBox {
				height: 444px;
				.infoWrapper {
					width: 100%;
					justify-content: center;
					flex-wrap: wrap;
					img {
						width: 293px;
						height: 200px;
						margin-bottom: 40px;
					}
					.textBox {
						text-align: center;
						min-width: 335px;
						max-width: 335px;
						margin-bottom: 40px;
						h1 {
							margin: 0 auto 7px;
						}
					}
				}
			}
		}
	}
}
