@import '../../themes/themes.scss';

.rsFilterBar {
	.rsSelect {
		max-width: 100%;
		[class*='control'] {
			background-color: white;
		}
	}
	div {
		margin: 0;
	}

	.none {
		display: none;
	}

	.rsLabelInput {
		width: fit-content;
		width: -moz-fit-content;
	}
	.rsLabelInput input {
		width: 100px;
		height: 40px;
		padding: 0 10px;
	}

	.moreFiltersLink {
		.rsLabel.caption {
			color: theme-var($buttonLinkColor);
		}
		.rsIcon {
			color: theme-var($buttonLinkColor);
		}
	}
	display: grid;
	grid-template-columns: repeat(7, auto);
	gap: 20px;
	justify-content: start;
	.rsLabelSelect {
		width: 200px;
	}
}

.small {
	.rsFilterBar {
		.rsDateRangeSelector,
		.numberOfAdults,
		.numberOfChildren,
		.priceMax,
		.priceMin {
			display: none;
		}
	}
}
