@import 'src/themes/themes';
.rsFilterBarV2 {
	width: 100%;
	margin: 0 20px;

	display: flex;
	flex-wrap: wrap;

	.largeCol {
		flex: 0 0 auto;
		width: 70%;

		.filterCol {
			.minMaxDiv {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 22px;

				.divider {
					width: 11px;
					border: 1px solid theme-var($greyLineColor);
					margin: 5px 5px 0 5px;
				}

				.rsInput.priceMin {
					width: 115px;
				}

				.rsInput.priceMax {
					width: 115px;
				}
			}

			.filterCounter {
				padding-bottom: 15px;
			}

			.inUnitAmenitiesCheckboxContentBody {
				min-width: 230px;
				max-width: 500px;
			}

			.inUnitAmenitiesWrapper {
				border-bottom: 1px solid theme-var($greyLineColor);
				padding: 15px;
				height: 200px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
			}
			.viewOptionsWrapper {
				padding: 10px;
				height: 130px;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
			}
		}
	}
	.smallCol {
		flex: 0 0 auto;
		width: 30%;

		.halfCol {
			flex: 1 0 0%;
		}
	}

	.subRow {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;

		.destinationFilterDropdown {
			padding: 15px;
		}
	}
	.rightBorder {
		border-right: 1px solid theme-var($secondaryTextColor);
	}

	@media screen and (max-width: 768px) {
		.smallCol {
			.halfCol {
				flex: 0 0 auto;
				width: 100%;
			}
			.redeemToggle {
				padding-left: 15px;
				padding-top: 15px;
			}
		}
	}

	.toggleButton {
		.rsSwitchControl {
			width: 96px;
			height: 42px;
			.slider {
				&:before {
					height: 33px;
					width: 33px;
					bottom: 4px;
					left: 6px;
				}
			}
			input:checked + .slider {
				background-color: #2c3c60;
			}
			input:focus + .slider {
				box-shadow: none;
			}
			input:checked + .slider:before {
				-webkit-transform: translateX(50px);
				-ms-transform: translateX(50px);
				transform: translateX(50px);
			}
		}
	}
}
