@import '../../themes/themes.scss';

.rsDestinationSummaryAccomodationList {
	div {
		margin: 0;
	}
	.availableAccommodationRows {
		height: 100%;
		overflow-y: auto;
		.rsLabel {
			padding-left: 5px;
		}
		.icons {
			justify-content: center;
			.rsIcon:before {
				color: theme-var($primaryTextColor);
			}
		}
	}
	div.accommodationRow:nth-child(even) {
		background-color: theme-var($primaryBackgroundColor);
	}
	.accommodationRow {
		display: grid;
		grid-template-columns: 162px 114px 84px 81px 93px 90px 110px 88px;
		text-align: center;
		.rsLabel.caption {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		div {
			margin: auto 0;
		}

		.rsIcon {
			margin-right: 5px;
		}

		.comparePlusText {
			cursor: pointer;
		}

		button.rsButton {
			height: 28px;
			padding: 0 12px;
		}
	}
}
