@import '../../themes/themes.scss';

.rsDestinationSummaryAccommodationList {
	div {
		margin: 0;
	}
	.availableAccommodationRows {
		overflow-y: auto;
		height: calc(100% - 26px);
		.icons {
			justify-content: flex-start;
			.rsIcon:before {
				color: theme-var($primaryTextColor);
			}
		}
	}
	div.accommodationRow:nth-child(even) {
		background-color: theme-var($primaryBackgroundColor);
	}
	.accommodationRow {
		display: grid;
		grid-template-columns: 162px 114px 84px 81px 93px 90px 110px 88px;
		padding: 5px 0;
		box-sizing: border-box;
		&.header {
		}
		.rsLabel.caption {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.points {
			font-size: 12px;
			line-height: 12px;
		}
		div {
			margin: auto 0;
		}

		.rsIcon {
			margin-right: 5px;
		}

		.comparePlusText {
			cursor: pointer;
		}

		button.rsButton {
			height: 28px;
			padding: 0 12px;
			box-shadow: unset;
		}
	}
}

.small {
	.rsDestinationSummaryAccommodationList {
		.accommodationRow {
			grid-template-columns: 162px 80px 1fr 50px;
			.rsIcon {
				place-self: center;
			}
		}
	}
}
