@import 'src/themes/themes';

.rsPointsHeaderCard {
	.topContainer {
		display: flex;
		padding: 36px 41px;
		justify-content: space-between;

		.title {
			padding-bottom: 10px;
		}
		.link {
			padding-top: 10px;

			.label,
			.icon {
				color: theme-var($buttonLinkColor);
			}
		}

		.tierStatusContainer {
			width: 70%;

			.tierMsg {
				display: flex;
				padding-bottom: 10px;
			}

			.rsLabelLink {
				.rsLabel {
					color: theme-var($buttonLinkColor);
					font-weight: 700;
				}
			}

			.iconContainer {
				height: 35px;
				display: flex;
				.progressbarStartContainer {
					display: flex;
					.progressbarStart {
						background-color: theme-var($iconAndHighlightTextColor);
					}
					.progressbarStartTriangle {
						background-color: theme-var($iconAndHighlightTextColor);
						clip-path: polygon(0 0, 0 0, 100% 100%, 0 100%);
					}
				}
				.progressbarMiddle {
					clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
					background-color: theme-var($disableTextColor);
				}
				.progressbarEndContainer {
					display: flex;
					.progressbarEndTriangle {
						clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
						background-color: theme-var($greyLineColor);
					}
					.progressbarEnd {
						background-color: theme-var($greyLineColor);
					}
				}
			}
		}
	}

	.bottomContainer {
		background-color: theme-var($greyLineColor);
		padding: 8px 30px;
	}
}

.medium,
.medSmall,
.small {
	.rsPointsHeaderCard {
		.topContainer {
			padding: 20px;
			flex-wrap: wrap;
			justify-content: normal;
		}

		.topContainer > * {
			margin-left: 10px;
		}

		.tierStatusContainer {
			margin-top: 20px;
			width: 100%;

			.tierMsg {
				flex-direction: column;
			}
		}
	}
}

//.tenStart {
//	clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
//}
//.twentyStart {
//	clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
//}
//.thirtyStart {
//	clip-path: polygon(0 0, 91% 0, 100% 100%, 0% 100%);
//}
//.fortyStart {
//	clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
//}
//.fiftyStart {
//	clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
//}
//.sixtyStart {
//	clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
//}
//.seventyStart {
//	clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
//}
//.eightyStart {
//	clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
//}
//.ninetyStart {
//	clip-path: polygon(0 0, 72% 0, 100% 100%, 0% 100%);
//}
//.ninetyEnd {
//	clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
//}
//.eightyEnd {
//	clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 100%);
//}
//.seventyEnd {
//	clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 100%);
//}
//.sixtyEnd {
//	clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
//}
//.fiftyEnd {
//	clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%);
//}
//.fortyEnd {
//	clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);
//}
//.thirtyEnd {
//	clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
//}
//.twentyEnd {
//	clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
//}
//.tenEnd {
//	clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
//}
