@import '../../../themes/themes';

.rsAccommodationSearchCardResponsive {
	display: flex;
	padding: 20px 42px;
	width: 100%;
	box-sizing: border-box;
	.accommodationContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-left: 42px;
		padding-right: 85px;
		.accommodationDetails {
			width: 100%;
			height: 265px;
			display: flex;
			padding-bottom: 24px;
			.priceBox {
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				.pointsContainer {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					justify-content: flex-end;
				}
				.priceContainer {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					justify-content: flex-end;
				}
			}
			.accommodationDescription {
				width: 100%;
				display: grid;
				gap: 18px;
				height: fit-content;
				.detailsTextContainer {
					display: flex;
				}
				.viewMoreInfo {
					color: #2c3c60;
					cursor: pointer;
				}
			}
		}
		.pointsContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
		}
		.priceContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
		}
		.accordionContainer {
			width: 100%;
		}
		.rsAccordion {
			width: 100%;
			color: #2c3c60;
			font-family: Montserrat;
			font-weight: $bold;
			font-size: 20px;
			line-height: 19px;
			border-top: solid 1px theme-var($greyLineColor);
			filter: unset !important;
			.articleItemHeader {
				padding: 0;
			}
		}
		.rateDescriptionContainer {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	.yellowText {
		color: theme-var($yellowTextColor);
	}
}
