@import '../../themes/themes';

.rsExistingItineraryPage {
	background-color: #f8f8f8 !important;
	padding-top: 100px;

	.staysCard {
		background-color: #fff;
		border-radius: 20px;
		padding: 38px;
		box-shadow: 0 0 8px #00000029;
	}

	&.noAvailable {
		margin-top: 80px;
		text-align: center;
	}

	.rsItineraryCardResponsive {
		width: 100%;
		margin-bottom: 50px;
	}
}

.small {
	.rsExistingItineraryPage {
		.staysCard {
			min-width: 290px;
			padding: 10px 15px;
			margin: 0 15px;
			.wrapper {
				display: flex;
				flex-wrap: wrap;
				gap: 15px;
				justify-content: center;
			}
		}
		@media screen and (max-width: 320px) {
			.staysCard {
				margin: unset;
			}
		}
	}
}
