@import '../../themes/themes';

.rsExistingItineraryPage {
	background-color: #f8f8f8 !important;
	padding-top: 100px;

	.staysCard {
		width: 1440px;
		margin: 50px auto;
		background-color: #fff;
		border-radius: 20px;
		padding: 38px 48px;
		box-shadow: 0 0 8px #00000029;
	}

	&.noAvailable {
		margin-top: 80px;
		text-align: center;
	}

	.pastStays {
		margin-top: 100px;
	}

	.rsItineraryCardResponsive {
		width: 100%;
		margin-bottom: 50px;
	}
}

.small {
	.rsExistingItineraryPage {
		padding: 0 16px;
		.rsItineraryCardMobile {
			margin: 0 auto 50px;
		}
	}
}
