@import '../../themes/themes';

.rsExistingItineraryPage {
	background-color: #f8f8f8 !important;
	padding-top: 100px;

	.staysCard {
		width: clamp(1342px, 34vw, 1440px);
		margin: 50px auto;
		background-color: #fff;
		border-radius: 20px;
		padding: 38px;
		box-shadow: 0 0 8px #00000029;
	}

	&.noAvailable {
		margin-top: 80px;
		text-align: center;
	}

	.rsItineraryCardResponsive {
		width: 100%;
		margin-bottom: 50px;
	}
}

.small {
	.rsExistingItineraryPage {
		.staysCard {
			width: clamp(290px, 85vw, 356px);
			padding: clamp(12px, 60vw, 16px);
			.wrapper {
				display: grid;
				place-items: center;
			}
		}
	}
}
