@import '../../themes/themes';
.rsSignUpPage {
	.rs-page-content-wrapper {
		background-image: url('../../images/signUpPage/signUpPage-heroImg.png');
		background-repeat: no-repeat;
		background-size: 100% 752px;
		animation: fadeIn 1s;
	}

	.rsBox {
		.rsLabelInput {
			margin: 10px 0;
			input {
				max-width: 100%;
				width: 100%;
			}
		}
	}
	.rsButton {
		margin: 20px auto;
	}

	.signInBottomBox {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	.termsAndPrivacy {
		text-align: center;
		font-size: 10px;
		line-height: 18px;
		font-weight: $regular;
		a {
			color: theme-var($buttonLinkColor);
		}
	}
}
