@import '../../themes/themes';
.rsSignUpPage {
	.rs-page-content-wrapper {
		background-image: url('../../images/signUpPage/signUpPage-heroImg.png');
		background-repeat: no-repeat;
		background-size: 100% 752px;
		animation: fadeIn 1s;
		padding-top: 1px;
	}

	.rsSelect {
		width: 190px;
	}

	.successMsgPaper {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.passwordCheck {
		gap: 10px;
		margin: 3px;
	}

	.rsBox {
		.rsLabelInput {
			margin-bottom: 15px;
			input {
				max-width: 100%;
				width: calc(100% - 20px);
			}
		}
	}

	.countryState {
		gap: 20px;
	}

	.rsButton {
		margin: 20px auto;
	}

	.signInBottomBox {
		position: absolute;
		width: 100%;
		bottom: 0;
	}
	.termsAndPrivacy {
		text-align: center;
		font-size: 10px;
		line-height: 18px;
		font-weight: $regular;
		a {
			color: theme-var($buttonLinkColor);
		}
	}
}
.small {
	.rsSignUpPage {
		.rs-page-content-wrapper {
			background-size: auto 400px;
			background-position-x: 30%;
		}
		.rsSelect {
			width: 128px;
		}
		.descriptionAndFormBox {
			flex-direction: column;
			margin-bottom: 163px;

			.descriptionText {
				text-align: center;
			}

			.formWrapper {
				display: flex;
				justify-content: center;

				.cityLabelInput {
					margin-right: 5px;
				}
				.zipLabelInput {
					margin-left: 5px;
				}
			}
		}
	}
}
