@import '../../themes/themes';
.rsNavPopout {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 0;
	background-color: #fcfbf8;
	transition: width 300ms;
	transform: translateX(78px);
	box-shadow: theme-var($primaryBoxShadowColor);
	overflow: hidden;
	&.opened {
		width: 350px;
	}

	.signOutBtn {
		position: absolute;
		top: 19px;
		left: 25px;
		transition: filter 300ms;
		&:hover {
			filter: brightness(1.2);
		}
	}

	.rsIcon {
		position: absolute;
		top: 25px;
		right: 25px;
	}
}
