@import 'src/themes/themes';
@import '../../variables.scss';

.rsLabelImage {
	display: flex;

	.mainImg {
		position: absolute;
	}
	.labelImageText {
		position: relative;
		color: #ffffff;
		align-self: flex-end;
		margin: 0 0 10px 10px;
	}
}
