@import 'src/themes/themes';

.rsComparisonAccommodationCardMobile {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 40px 40px 40px 40px 1fr;
	gap: 20px;
	align-items: center;
	.cell {
		max-width: 125px;
		width: 100%;
	}
	.oddCell {
		background-color: #fcfbf8;
	}
	.featureIconLabel {
		padding: 5px;
	}
}
