@import '../../../themes/themes';

.rsDestinationSearchResultCardResponsive {
	display: flex;
	max-width: 1844px;
	width: 100%;
	justify-content: space-between;
	&:hover {
		cursor: pointer;
	}
	.featureIcons {
		display: flex;
		gap: 34px;
		flex-wrap: nowrap;
		align-items: center;
		text-align: center;
		overflow: hidden;
	}
	.featureTitle {
		font-weight: $light;
		text-align: center;
	}

	.destinationDescription {
		width: 100%;
		max-width: 1020px;
	}

	.fromText {
		font-weight: bold;
	}

	.yellowText {
		color: theme-var($yellowTextColor);
	}

	.locationIcon {
		margin-right: 7px;
	}

	.earnTextContainer {
		min-width: 350px;
		display: flex;
		justify-content: flex-end;
		.earnText {
			width: fit-content;
		}
	}
}

@media (min-width: 1160px) and (max-width: 1400px) {
	.App {
		.rsDestinationSearchResultCardResponsive {
			.destinationDescription {
				-webkit-line-clamp: 6 !important;
			}

			.featureIcons {
				display: none;
			}
		}
	}
}
