@import '../../../themes/themes';

.rsDestinationSearchResultCardResponsive {
	display: flex;
	max-width: 1844px;
	width: 100%;
	justify-content: space-between;
	&:hover {
		cursor: pointer;
	}
	.featureIcons {
		display: flex;
		gap: 34px;
		flex-wrap: wrap;
		align-items: center;
		text-align: center;
	}
	.featureTitle {
		font-weight: $light;
		text-align: center;
	}

	.destinationDescription {
		width: 100%;
		max-width: 1020px;
	}

	.fromText {
		font-weight: bold;
	}

	.yellowText {
		color: theme-var($yellowTextColor);
	}

	.locationIcon {
		margin-right: 7px;
	}

	.rsCarousel {
		max-width: 414px;
		width: 100%;
		.carouselParent {
			overflow-x: hidden;
		}
		.imageWrapper {
			max-height: 278px;
			max-width: 414px;
			width: 100%;
			height: 100%;
			img {
				max-width: 414px;
				height: auto;
				min-height: 278px;
				max-height: 278px;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}
