@import '../../themes/themes';
.rsNavDrawer {
	position: absolute;
	top: 74px;
	right: 90px;
	background-color: theme-var($white);
	transition: width 300ms;
	transform: translateX(78px);
	width: 0;
	box-shadow: 0 0 8px #00000029;
	border-radius: 20px;
	z-index: 99;

	&.opened {
		width: 262px;
	}

	.welcomeLabel {
		padding-bottom: 16px;
	}

	.rsLabelLink {
		padding-bottom: 16px;
		.rsLabel {
			color: theme-var($secondaryTextColor);
			&.h4 {
				text-indent: 40px;
			}
		}
	}

	hr {
		height: 1px;
		width: 100%;
		background: theme-var($greyLineColor);
		border: none;
		margin: 0;
	}
}
.transparentOverlay {
	transition: opacity 200ms;
	position: absolute;
	right: -77px;
	top: 0;
	opacity: 0;
	z-index: 1;
	&.opened {
		opacity: 1;
		height: 100%;
	}
}

.small {
	.rsNavDrawer {
		position: fixed;
		transform: translateX(0);
		height: 100%;
	}
}
