@import '../../themes/themes';
.rsSignupPopup {
	width: 356px;
	background-color: theme-var($primaryBackgroundColor);
	margin: 0 10px;
	padding: 14px 28px 25px;
	border-radius: 20px;
	.rsIcon {
		position: absolute;
		top: 18px;
		right: 14px;
	}
	hr {
		color: theme-var($greyLineColor);
		opacity: 1;
	}
	.rsLabelInput {
		margin-bottom: 17px;
		.rsInput {
			height: 28px;
			max-width: 400px;
			padding: 10px;
			border-radius: 5px;
			background: theme-var($primaryBackgroundColor);
		}
	}

	.rsButton {
		width: 100%;
		margin-top: 24px;
	}

	.rsLabelCheckbox {
		align-items: start;
		margin-bottom: 16px;
		height: auto;
		padding: 0;
		.checkboxContainer {
			input {
				height: 26px;
				width: 26px;
			}
			.checkbox {
				border-radius: 5px;
				height: 26px;
				width: 26px;
			}
		}
	}
}
