@import 'src/themes/themes';

.rsAccountPointsPage {
	.rs-page-content-wrapper {
		.heroImgTitle {
			position: relative;
			box-sizing: border-box;
			background-image: url('../../images/pointsPage/PointsPageHero2x.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position-y: bottom;
			background-position-x: center;
			animation: fadeIn 1s;
			height: 300px;

			.pageTitle {
				padding-top: 130px;
				padding-bottom: 52px;
				display: flex;
				justify-content: center;
			}
		}

		.pointButtonsContainer {
			.rsButton {
				margin: 0 10px;
			}
		}

		.headerAndFilterContainer {
			margin-bottom: 20px;
			margin-top: 80px;
		}

		.pointHistoryContainer {
			margin: 0 140px;
		}

		.pointTableHeader {
			margin-top: 20px;
			padding-bottom: 12px;
			border-bottom: 2px solid theme-var($greyLineColor);

			.transactionType {
				width: 55%;
			}
			.dateReceived {
				width: 35%;
			}
			.pointAmount {
				width: 20%;
			}
		}

		.pointTableContainer {
			padding: 50px 0;
		}

		.rsFooter {
			margin: 120px 140px 0;
		}
	}
}
