@import 'src/themes/themes';

.rsFilterReservationPopup {
	position: absolute;
	top: 40px;

	.paperWrapper {
		width: 341px;
		min-width: 320px;
		border-radius: 15px;

		.paperHeader {
			border-bottom: 0.5px solid #7070706e;
			padding: 16px 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.paperBody {
			padding: 20px 30px;

			.formDiv {
				border-bottom: 0.5px solid #7070706e;

				.filterCounter {
					padding: unset;
				}
			}

			.formWrapper {
				padding: 0 10px;
			}
			.redeemPointsContainer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 25px 0;
			}

			.numberOfGuestDiv {
				display: flex;

				.rsLabelInput {
					margin: 20px 0;
				}
				.numberOfAdults {
					margin-right: 7px;
				}

				.rsInput {
					max-width: 200px;
					width: 135px;
				}
			}

			.minMaxDiv {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-right: 9px;
				margin-bottom: 22px;

				.divider {
					width: 11px;
					border: 1px solid #707070;
					margin-top: 37px;
				}

				.rsInput.priceMin {
					width: 115px;
				}

				.rsInput.priceMax {
					width: 115px;
				}
			}
		}
		.buttons {
			display: flex;
			margin-top: 40px;
			padding: 0 9px;
			justify-content: center;

			.cancelButton {
				margin-right: 10px;
			}

			.applyButton {
				margin-left: 10px;
				&.disabled {
					display: none;
				}
			}
		}
	}
	@media screen and (max-width: 374px) {
		.paperWrapper {
			width: 310px;
		}
	}
}
