@import 'src/themes/themes';

.rsFilterReservationPopup {
	height: 95vh;
	position: absolute;
	top: 40px;
	overflow: scroll;

	.paperWrapper {
		width: 341px;
		min-width: 320px;
		border-radius: 15px;
		background: theme-var($primaryBackgroundColor);

		.paperHeader {
			border-bottom: 0.5px solid theme-var($greyLineColor);
			padding: 16px 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.closeIcon {
				color: theme-var($disableTextColor);
			}
		}

		.paperBody {
			padding: 20px 30px;

			.formDiv {
				border-bottom: 0.5px solid theme-var($greyLineColor);

				.filterCounter {
					padding: unset;
				}

				.priceSliderRail {
					color: theme-var($greyLineColor);
					opacity: 0.35;
				}
			}

			.formWrapper {
				padding: 0 10px;
			}
			.redeemPointsContainer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 25px 0;
			}

			.numberOfGuestDiv {
				display: flex;

				.rsLabelInput {
					margin: 20px 0;
				}
				.numberOfAdults {
					margin-right: 7px;
				}

				.rsInput {
					max-width: 200px;
					width: 135px;
				}
			}

			.minMaxDiv {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 22px;

				.divider {
					width: 11px;
					border: 1px solid theme-var($greyLineColor);
					margin: 5px 5px 0 5px;
				}

				.rsInput.priceMin {
					width: 115px;
				}

				.rsInput.priceMax {
					width: 115px;
				}
			}
		}
		.paperFooter {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: fixed;
			bottom: 0;
			background: theme-var($primaryBackgroundColor);
			height: 62px;
			width: 321px;
			padding: 0 10px;
			box-shadow: 0px -7px 10px -3px theme-var($greyLineColor);

			.cancelButton {
				margin-right: 10px;
			}

			.applyButton {
				margin-left: 10px;
				&.disabled {
					display: none;
				}
			}
		}
	}
	@media screen and (max-width: 374px) {
		.paperWrapper {
			width: 310px;

			.paperFooter {
				width: 300px;
			}
		}
	}
}
