@import '../../themes/themes';

.rsContactInfoAndPaymentCard {
	background-color: theme-var($primaryBackgroundColor);
	.contactInfo {
		grid-template-columns: fit-content(200px) fit-content(200px);
		column-gap: 150px;
		row-gap: 20px;
		width: 100%;
	}

	.rsLabelInput {
		.rsInput {
			&.textarea {
				max-width: 100%;
				width: 100%;
				height: 150px;
				padding: 10px;
			}
		}

		.react-tel-input {
			input {
				max-width: 200px;
			}
		}
		&.stretchedInput {
			grid-column: span 2;
			.rsInput {
				max-width: 100%;
			}
		}
	}

	.rsLabelSelect {
		min-width: 200px;
		&.stretchedInput {
			.rsSelect {
				max-width: 540px;
			}
		}
	}

	.useDifferentAddressText {
		span {
			color: theme-var($buttonLinkColor);
			text-decoration: underline;
			cursor: pointer;
		}
	}

	#payment-form {
		.useExistingCreditCard {
			width: -moz-fit-content;
		}
		.creditCardInfo {
			display: grid;
			grid-template-columns: fit-content(200px) fit-content(200px);
			column-gap: 150px;
			row-gap: 10px;
			.creditCardExpInput {
				input {
					text-align: center;
				}
			}
			iframe {
				height: 40px;
			}
		}

		.rsSelect {
			max-width: 540px;
			margin-bottom: 15px;
			max-width: 325px;
		}
		.rsLabelCheckbox {
			height: 100%;
			width: -moz-fit-content;
			align-items: center;
			a {
				span {
					color: theme-var($buttonLinkColor);
					text-decoration: underline;
				}
			}
		}

		.hide {
			display: none;
		}
	}
}

.small {
	.rsContactInfoAndPaymentCard {
		.contactInfo {
			justify-content: start;
			grid-template-columns: auto;
			gap: 5px;
			.rsLabelInput {
				.rsInput {
					max-width: 100%;
					width: 100%;
				}

				&.stretchedInput {
					grid-column: span 1;

					.rsInput {
						max-width: 100%;
					}
				}
			}

			.rsLabelSelect {
				&.stretchedInput {
					grid-column: span 1;
				}
			}
		}
		#payment-form {
			.rsBox {
				flex-direction: column;
				justify-content: flex-start;
			}
			.creditCardInfo {
				grid-template-columns: auto;
				justify-content: start;
				.rsLabelInput {
					width: 100%;
				}
			}
		}
		.rsLabelInput,
		.rsLabelSelect {
			margin-bottom: 15px;
		}
	}
}
