@import 'src/themes/themes';

.rsRoomAdditionalDetails {
	.description {
		margin: 22px 0 15px;
	}
	.list {
		margin-top: 15px;
		padding-left: 15px;
		font-size: 11px;
	}
	.listItems {
		font-size: 14px;
		text-indent: -7px;
	}
}

.small {
	.rsRoomAdditionalDetails {
		.description {
			margin: 15px 0 10px;
		}
	}
}
