@import '../../themes/themes';
.rsDestinationDetailsPage {
	.rs-page-content-wrapper {
		padding: 200px 26px 0;
		.gallerySection {
		}
		.overviewSection {
		}
		.experienceSection {
		}
	}

	hr {
		background: #7070706e;
		height: 1px;
		width: 100%;
		border: none;
		margin: 60px 0;
	}

	.rsAccordion {
		width: fit-content;
		width: -moz-fit-content;
		.articleItemHeader {
			padding: 0;
			.rsLabel {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.sectionOne {
		position: relative;
		margin-bottom: 386px;

		.headerWrapper {
			position: absolute;
			display: flex;
			align-items: flex-end;
			bottom: -270px;
			left: 80px;
			width: 1359px;
			.destinationInfoCardWrapper {
				position: relative;
				margin-right: 60px;
				.rsDestinationInfoCard {
				}
			}
		}
		.featureSlider {
			display: flex;
			transition: transform 300ms;
		}
	}

	.sectionTwo {
		.rsLabel {
			&.h1 {
				text-align: center;
				margin-bottom: 32px;
			}
		}
		.rsLabelImage {
			margin: 0 8px 16px;
		}
	}

	.sectionFour {
		iframe {
			box-shadow: theme-var($primaryBoxShadowColor);
			height: 100%;
			width: 100%;
			border: 0;
		}

		.rsLabel {
			&.h1 {
				margin-bottom: 22px;
			}
			&.body2 {
				margin-bottom: 30px;
			}
			.rsIcon {
				margin-right: 14px;
			}
		}
	}

	.sectionFive {
		width: 1160px;
		margin: 0 auto;
		hr {
			height: 1px;
			width: 100%;
			background: theme-var($greyLineColor);
			border: none;
			margin: 20px 0;
		}

		.accommodationCardWrapper {
			box-sizing: border-box;
			.rsAccommodationSearchResultCardMobile,
			.rsAccommodationSearchResultCardResponsive {
				margin-bottom: 25px;
			}
		}
	}

	.noDestinations {
		text-align: center;
	}

	.rsPaginationViewMore {
		margin: 20px auto;
	}

	.chooseYourAccommodation {
		font-size: 41px;
		font-weight: normal;
		margin-bottom: 20px;
	}
}
.small {
	.rsDestinationDetailsPage {
		.rs-page-content-wrapper {
			padding-top: 84px;
			.gallerySection {
				.rsCarouselV2 {
					margin: 0 auto;
				}
			}
			.overviewSection {
			}
			.experienceSection {
			}
		}

		.sectionOne {
			margin-bottom: 425px;
			.headerWrapper {
				left: 0;
				width: 100%;
				flex-wrap: wrap;
				bottom: -370px;
			}

			.destinationInfoCardWrapper {
				margin: 0 auto 25px !important;
			}

			.headerWrapper {
				.destinationInfoCardWrapper {
					position: relative;
					margin-right: 60px;
					.rsDestinationInfoCard {
					}
				}

				.rsCarousel {
					.carouselParent {
						.carouselChild {
							margin: 0 10px;
						}
					}
				}
			}
		}

		.sectionFive {
			width: 100%;
			padding: 0 10px;
			box-sizing: border-box;
		}
	}

	.chooseYourAccommodation {
		font-size: 18px;
		line-height: 18px;
		font-weight: normal;
		margin-bottom: 15px;
	}
}
