@import '../../themes/themes';
.rsUserBasicInfoPaper {
	.loadingBarContainer {
		height: 35px;
		border-radius: 20px;
		width: 446px;
		background: #f7f9fd;
		overflow: hidden;
		.loadingBar {
			height: 100%;
			background: #2c3c60;
		}
	}
}
