@import '../../themes/themes';

.rsAccountHeader {
	padding-top: 140px;
	.tab {
		display: flex;
		justify-content: center;
		height: 30px;
		padding: 0 30px;
		box-sizing: border-box;
		transition: border-bottom 300ms ease;
		border-bottom: 1px solid theme-var($greyLineColor);
		&.rsLabelButton {
			.rsLabel {
				margin-bottom: 10px;
			}
		}
		&.selected {
			border-bottom: 2px solid theme-var($iconAndHighlightTextColor);
			border-bottom-width: 3px;
		}
	}

	.rsLabel {
		&.h1 {
			margin: 0 auto 60px;
			font-size: 40px;
			line-height: 45px;
			width: fit-content;
		}
	}
}
