@import 'src/themes/themes';

.rsReservationAvailabilityPage {
	.rs-page-content-wrapper {
		height: 100%;
		min-height: 1000px;
	}

	.heroImage {
		background-position-y: 38%;
	}

	.filterResultsWrapper {
		.filterLabel {
			padding-bottom: 17px;
		}

		.moreFiltersLink {
			display: none;
		}

		.bottomBorderDiv {
			padding-top: 20px;
			border-bottom: 1px solid theme-var($greyLineColor);
		}
	}

	.searchResultsWrapper {
		padding-left: 20px;
	}

	.rsDestinationSearchResultCard {
		padding-bottom: 20px;
		padding-top: 30px;
		border-bottom: 1px solid theme-var($greyLineColor);
	}

	.toggleCode:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.rsAccordion {
		max-width: 800px;
		.articleItemHeader {
			padding: 0;
			.rsLabel {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.small {
	.filterResultsWrapper {
		.moreFiltersLink {
			display: flex;
			cursor: pointer;
			margin: auto 0;
		}
	}
	.rsDestinationSearchResultCard {
	}
}
