@import 'src/themes/themes';

.rsReservationAvailabilityPage {
	.rs-page-content-wrapper {
		height: 100%;
		min-height: 1000px;
	}

	.filterResultsWrapper {
		.filterLabel {
			padding-bottom: 17px;
		}

		.moreFiltersLink {
			display: none;
		}
		.rsFilterBarDropDown {
			.dropdownContent {
				padding: 24px;
				width: clamp(200px, 40vw, 397px);
			}
		}
	}

	.searchResultsWrapper {
		padding: 40px;
	}

	.rsDestinationSearchResultCardResponsive,
	.rsDestinationSearchResultCardMobile {
		margin-bottom: 42px;
	}

	.toggleCode:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.rsAccordion {
		width: fit-content;
		width: -moz-fit-content;
		.articleItemHeader {
			padding: 0;
			.rsLabel {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.small {
	.rsReservationAvailabilityPage {
		.searchResultsWrapper {
			padding: 30px;
		}
		.filterResultsWrapper {
			display: none;
		}
	}
}
