@import 'src/themes/themes';

.rsReservationAvailabilityPage {
	.rs-page-content-wrapper {
		//padding-top: 136px;
		height: 100%;
		min-height: 1000px;
	}

	.filterResultsWrapper {
		.filterLabel {
			padding-bottom: 17px;
		}

		.moreFiltersLink {
			display: none;
		}
		.rsFilterBarDropDown {
			.dropdownContent {
				padding: 24px;
				width: clamp(200px, 40vw, 397px);
			}
		}
	}

	.searchResultsWrapper {
		padding: 40px;
	}

	.rsDestinationSearchResultCardResponsive,
	.rsDestinationSearchResultCardMobile {
		margin-bottom: 42px;
	}
	//KEEP FOR NOW
	//.rsTopSearchBarResponsive {
	//	position: fixed;
	//	z-index: 100;
	//	top:0;
	//	left: 0;
	//	right: 0;
	//}

	.toggleCode:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	.rsAccordion {
		width: fit-content;
		width: -moz-fit-content;
		.articleItemHeader {
			padding: 0;
			.rsLabel {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.rsPaginationViewMore {
		margin: 20px auto;
	}
}

.small {
	.rsReservationAvailabilityPage {
		.rs-page-content-wrapper {
			.searchResultsWrapper {
				padding: 30px;
			}

			.filterResultsWrapper {
				display: none;
			}
		}
	}
}
