/* Font Weights */
$thin: 100;
$extraThin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$heavy: 900;
$extraBlack: 950;

//Text Color
$primaryTextColor: --primaryTextColor;
$disableTextColor: --disableTextColor;

//Buttons Color
$buttonLinkColor: --buttonLinkColor;

//Icon Color
$iconAndHighlightTextColor: --iconAndHighlightTextColor;

//Background Color
$primaryBackgroundColor: --primaryBackgroundColor;
$secondaryBackgroundColor: --secondaryBackgroundColor;

//Error Color
$errorColor: --errorColor;

// Box Shadow Color
$primaryBoxShadowColor: --primaryBoxShadowColor;

//Misc
$greyLineColor: --greyLineColor;
