@import 'themes';
@import '_variables.scss';

.App .rsButton {
	&.contained {
		&.primary {
			background-color: theme-var($buttonLinkColor);
			border-radius: 5px;
			padding: 0 24px;
			height: 38px;
			.rsLabel {
				color: #fcfbf8;
			}
			&:hover {
				background-color: theme-var($buttonLinkColor);
			}
			&.yellow {
				background-color: theme-var($secondaryButtonLinkColor);
				.rsLabel {
					color: black;
				}
				&:hover {
					background-color: theme-var($secondaryButtonLinkColor);
				}
			}
		}

		&.secondary {
			background-color: white;
			border: 2px solid theme-var($buttonLinkColor);
			border-radius: 5px;
			padding: 0 24px;
			height: 38px;
			.rsLabel {
				color: theme-var($buttonLinkColor);
			}
			&:hover {
				background-color: white;
			}
		}
	}
	&:disabled {
		opacity: 0.65;
		cursor: not-allowed;
		.rsLabel {
			opacity: 0.5;
		}
	}
}
