@import 'themes';
.rsButton {
	&.contained {
		&.primary {
			background-color: theme-var($buttonLinkColor) !important;
			color: #fcfbf8;
			border-radius: 5px;
			padding: 0 24px;
			height: 38px;
			&.yellow {
				background-color: theme-var($secondaryButtonLinkColor) !important;
				color: black;
				.rsLabel {
					color: black;
				}
			}
		}

		&.secondary {
			background-color: #ffffff !important;
			color: theme-var($buttonLinkColor);
			border: 2px solid theme-var($buttonLinkColor);
			border-radius: 5px;
			padding: 0 24px;
			height: 38px;

			.rsLabel {
				color: theme-var($buttonLinkColor);
			}
		}
	}
	&:disabled {
		opacity: 0.65;
		cursor: not-allowed;
		.rsLabel {
			opacity: 0.5;
		}
	}
}
