.rsInput {
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	border-radius: 0;
	border: 1px solid theme-var($greyLineColor);
	color: #222222 !important;
	outline: none !important;
	transition: border-color 300ms;
	input {
		height: 100%;
	}
	&.textarea {
		resize: none;
	}
	&:focus-within,
	&:hover {
		border-color: theme-var($buttonLinkColor) !important;
	}
}

.rsInput::-webkit-outer-spin-button,
.rsInput::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
