@import 'themes';
@import '_variables.scss';
html {
	font-family: 'Montserrat', sans-serif;
}

.rsLabel {
	font-family: 'Montserrat', sans-serif;
	color: theme-var($secondaryTextColor);
	letter-spacing: 0;
	&.h1 {
		font-size: 50px;
		line-height: 52px;
		font-weight: $bold;
	}
	&.h2 {
		font-size: 42px;
		line-height: 44px;
		font-weight: $bold;
	}
	&.h3 {
		font-size: 31px;
		line-height: 34px;
		font-weight: $bold;
	}
	&.h4 {
		font-size: 24px;
		line-height: 26px;
		font-weight: $medium;
	}
	&.h5 {
		font-size: 21px;
		line-height: 24px;
		font-weight: $light;
	}
	&.button {
		color: #fcfbf8;
		font-size: 19px;
		line-height: 22px;
		font-weight: $medium;
	}
	&.buttonTwo {
		color: #1e180b;
		font-size: 16px;
		line-height: 27px;
		font-weight: $regular;
	}
	&.buttonBoldText {
		color: #1e180b;
		font-size: 19px;
		line-height: 22px;
		font-weight: $semiBold;
	}
	&.body1 {
		font-size: 19px;
		line-height: 22px;
		font-weight: $regular;
	}
	&.body2 {
		font-size: 19px;
		line-height: 22px;
		font-weight: $light;
	}
	&.body3 {
		font-size: 17px;
		line-height: 20px;
		font-weight: $regular;
	}
	&.body4 {
		font-family: 'Gothic', sans-serif;
		font-size: 19px;
		line-height: 22px;
		font-weight: $light;
	}
	&.body5 {
		font-size: 18px;
		line-height: 24px;
		font-weight: $regular;
	}
	&.caption1 {
		font-size: 14px;
		line-height: 16px;
		font-weight: $regular;
	}
	&.boldCaption1 {
		font-size: 14px;
		line-height: 16px;
		font-weight: $bold;
	}
	&.caption2 {
		font-family: 'Gothic', sans-serif;
		font-size: 14px;
		line-height: 16px;
		font-weight: $light;
	}
	&.caption3 {
		font-size: 15px;
		line-height: 18px;
		font-weight: $medium;
	}
	&.subtitle1 {
		font-size: 16px;
		line-height: 18px;
		font-weight: $regular;
	}
	&.subtitle2 {
		font-family: 'Gothic', sans-serif;
		font-size: 17px;
		line-height: 20px;
		font-weight: $regular;
	}
	&.subtitle3 {
		font-family: 'Gothic', sans-serif;
		font-size: 16px;
		line-height: 18px;
		font-weight: $regular;
	}
	&.italicBold {
		font-size: 17px;
		line-height: 20px;
		font-weight: $semiBold;
		font-style: italic;
	}
	&.italicBoldTwo {
		font-size: 17px;
		line-height: 34px;
		font-weight: $semiBold;
		font-style: italic;
	}
	&.error {
		font-size: 19px;
		line-height: 22px;
		font-weight: $medium;
		color: theme-var($errorColor);
	}
	&.customOne {
		font-size: 22px;
		line-height: 31px;
		font-weight: $semiBold;
	}
	&.customTwo {
		font-size: 22px;
		line-height: 31px;
		font-weight: $regular;
	}
	&.customThree {
		font-size: 16px;
		line-height: 19px;
		font-weight: $regular;
	}
	&.customFour {
		font-size: 16px;
		line-height: 19px;
		font-weight: $semiBold;
	}
	&.customFive {
		font-size: 20px;
		line-height: 24px;
		font-weight: $regular;
	}
	&.customSix {
		font-size: 35px;
		line-height: 43px;
		font-weight: $bold;
	}
	&.customSeven {
		font-size: 24px;
		line-height: 29px;
		font-weight: $regular;
	}
	&.customEight {
		font-size: 12px;
		line-height: 15px;
		font-weight: $regular;
	}
	&.customNine {
		font-size: 24px;
		line-height: 13px;
		font-weight: $semiBold;
	}
	&.customTen {
		font-size: 21px;
		line-height: 13px;
		font-weight: $semiBold;
	}
	&.customEleven {
		font-size: 21px;
		line-height: 32px;
		font-weight: $semiBold;
	}
	&.customTwelve {
		font-size: 20px;
		line-height: 30px;
		font-weight: $regular;
	}

	&.customThirteen {
		font-size: 18px;
		line-height: 17px;
		font-weight: $light;
	}
	&.customFourteen {
		font-size: 10px;
		line-height: 26px;
		font-weight: $regular;
	}
	&.customFifteen {
		font-size: 18px;
		line-height: 32px;
		font-weight: $regular;
	}
	&.customSixteen {
		font-size: 12px;
		line-height: 13px;
		font-weight: $regular;
	}
	&.customSeventeen {
		font-size: 20px;
		line-height: 32px;
		font-weight: $regular;
	}
	&.customEighteen {
		font-size: 18px;
		line-height: 15px;
		font-weight: $semiBold;
	}
	&.customNineteen {
		font-size: 14px;
		line-height: 24px;
		font-weight: $regular;
	}
	&.customTwenty {
		font-size: 17px;
		line-height: 9px;
		font-weight: $regular;
	}
	&.customTwentyOne {
		font-size: 25px;
		line-height: 19px;
		font-weight: $semiBold;
	}
	&.customTwentyTwo {
		font-size: 35px;
		line-height: 19px;
		font-weight: $regular;
	}
	&.itineraryCustomOne {
		font-size: 16px;
		line-height: 30px;
	}
	&.reservationCustomOne {
		font-size: 37px;
		line-height: 31px;
		font-weight: $bold;
	}
	&.packagesCustomOne {
		font-size: 32px;
		line-height: 20px;
		font-weight: $extraBold;
	}
	&.packagesCustomTwo {
		font-size: 20px;
		line-height: 28px;
		font-weight: $bold;
	}
	&.packagesCustomThree {
		font-size: 14px;
		line-height: 30px;
		font-weight: $regular;
	}
	&.tabbedImageCarouselCustomOne {
		font-size: 41px;
		line-height: 50px;
		font-weight: $regular;
	}
	&.tabbedImageCarouselCustomTwo {
		font-size: 25px;
		line-height: 39px;
		font-weight: $light;
	}
	&.mobileLightBoxCustomOne {
		font-size: 17px;
		line-height: 29px;
		font-weight: $regular;
	}
	&.mobileLightBoxCustomTwo {
		font-size: 16px;
		line-height: 31px;
		font-weight: $regular;
	}
	&.mobileLightBoxCustomThree {
		font-size: 14px;
		line-height: 41px;
		font-weight: $regular;
	}
	&.reservationDetailsPaperCustomOne {
		font-size: 25px;
		line-height: 30px;
		font-weight: $semiBold;
	}
	&.reservationDetailsPaperCustomTwo {
		font-size: 21px;
		line-height: 29px;
		font-weight: $medium;
	}
	&.reservationDetailsPaperCustomThree {
		font-size: 13px;
		line-height: 16px;
		font-weight: $regular;
	}
	&.reservationDetailsPaperCustomFour {
		font-size: 17px;
		line-height: 23px;
		font-weight: $light;
	}
	&.reservationDetailsPaperCustomFive {
		font-size: 13px;
		line-height: 25px;
		font-weight: $light;
	}
	&.pointsPageCustomOne {
		font-size: 25px;
		line-height: 30px;
		font-weight: $semiBold;
	}
	&.pointsPageCustomTwo {
		font-size: 20px;
		line-height: 24px;
		font-weight: $medium;
	}
	&.pointsPageCustomThree {
		font-size: 16px;
		line-height: 19px;
		font-weight: $medium;
	}
	&.pointsPageCustomFour {
		font-size: 16px;
		line-height: 30px;
		font-weight: $semiBold;
	}
	&.pointsPageCustomFive {
		font-size: 14px;
		line-height: 30px;
		font-weight: $medium;
	}
	&.pointsPageCustomSix {
		font-size: 14px;
		line-height: 30px;
		font-weight: $regular;
	}
	&.userBasicInfoCustomOne {
		font-size: 35px;
		line-height: 43px;
		font-weight: $regular;
	}
	&.accommodationModalCustomOne {
		font-size: 35px;
		font-weight: $regular;
		line-height: 36px;
	}
	&.accommodationModalCustomTwo {
		font-size: 20px;
		font-weight: $medium;
		line-height: 21px;
	}
	&.accommodationModalCustomThree {
		font-size: 20px;
		font-weight: $light;
		line-height: 23px;
	}
	&.accommodationModalCustomFour {
		font-family: 'Gothic', sans-serif;
		font-size: 16px;
		line-height: 26px;
		font-weight: $regular;
	}
	&.accommodationModalCustomFive {
		font-family: 'Gothic', sans-serif;
		font-size: 16px;
		line-height: 28px;
		font-weight: $regular;
	}
	&.accommodationModalCustomSix {
		font-family: 'Gothic', sans-serif;
		font-size: 16px;
		line-height: 32px;
		font-weight: $bold;
	}
	&.accommodationModalCustomSeven {
		font-size: 20px;
		font-weight: $medium;
		line-height: 19px;
	}
	&.accommodationModalCustomEight {
		font-size: 18px;
		line-height: 18px;
		font-weight: $regular;
	}
	&.bookingSummaryCustomOne {
		font-size: 12px;
		line-height: 14px;
		font-weight: $medium;
	}
	&.bookingSummaryCustomTwo {
		font-size: 12px;
		line-height: 13px;
		font-weight: $light;
	}
	&.bookingSummaryCustomThree {
		font-size: 16px;
		line-height: 20px;
		font-weight: $light;
	}
	&.bookingSummaryCustomFour {
		font-size: 14px;
		line-height: 21px;
		font-weight: $light;
	}
	&.destinationDetailsCustomOne {
		font-size: 18px;
		line-height: 13px;
		font-weight: $regular;
	}
	&.navDrawerCustomOne {
		font-size: 14px;
		line-height: 13px;
		font-weight: $regular;
	}
	&.navDrawerCustomTwo {
		font-size: 14px;
		line-height: 13px;
		font-weight: $medium;
	}
	&.accommodationOverviewCustomOne {
		font-size: 16px;
		line-height: 30px;
		font-weight: $light;
	}
	&.destinationDetailsCustomTwo {
		font-size: 22px;
		line-height: 56px;
		font-weight: $light;
	}
	&.destinationDetailsCustomThree {
		font-size: 41px;
		line-height: 18px;
		font-weight: $medium;
	}
	&.destinationDetailsCustomFour {
		font-family: 'Gothic', sans-serif;
		font-size: 16px;
		line-height: 32px;
		font-weight: $bold;
	}
	&.destinationDetailsCustomFive {
		font-size: 42px;
		line-height: 35px;
		font-weight: $bold;
	}
	&.experienceImageCustomOne {
		font-size: 30px;
		line-height: 39px;
		font-weight: $medium;
	}
}
