@import 'themes';
@import '_variables.scss';
html {
	font-family: 'MrsEavesXL', sans-serif;
}

.rsLabel {
	font-family: 'MrsEavesXL', sans-serif;
	color: theme-var($primaryTextColor);

	&.h1 {
		font-size: 32px;
		//font-size: 60px; //This is a temp fix
		line-height: 35px;
		//line-height: 70px; //This is a temp fix
		font-weight: $heavy;
		letter-spacing: 0;
	}
	&.h2 {
		font-size: 24px;
		//font-size: 40px;
		line-height: 28px;
		//line-height: 45px;
		font-weight: $heavy;
		letter-spacing: 0;
	}
	&.h3 {
		font-size: 20px;
		//font-size: 32px;
		line-height: 23px;
		//line-height: 45px;
		font-weight: $bold;
		//font-weight: $heavy;
		letter-spacing: 0;
	}
	&.h4 {
		//font-size: 24px;
		font-size: 16px;
		//line-height: 22px;
		line-height: 19px;
		font-weight: $heavy;
		letter-spacing: 0;
	}
	&.body1 {
		font-size: 16px;
		line-height: 20px;
		font-weight: $regular;
		letter-spacing: 0;
	}
	&.body2 {
		font-size: 14px;
		line-height: 18px;
		font-weight: $regular;
		letter-spacing: 0;
	}
	&.caption {
		font-family: 'Mrs-Eaves-All-Petite-Caps', sans-serif;
		font-size: 19px;
		line-height: 12px;
		font-weight: $regular;
		letter-spacing: 0;
		text-transform: uppercase;
	}
	&.button {
		font-family: 'Mrs-Eaves-All-Petite-Caps', sans-serif;
		font-size: 19px;
		line-height: 12px;
		font-weight: $regular;
		letter-spacing: 0;
		text-transform: uppercase;
	}
	&.error {
		font-family: 'Mrs-Eaves-All-Petite-Caps', sans-serif;
		font-size: 17px;
		line-height: 12px;
		font-weight: $regular;
		letter-spacing: 0;
		text-transform: uppercase;
		color: theme-var($errorColor);
	}
}
