@import 'src/themes/themes';

.rsSelect {
	[class*='container'] {
		width: 100%;
		border: 1px solid theme-var($greyLineColor);
		&:focus-within {
			border-color: theme-var($buttonLinkColor) !important;
		}
	}
	[class*='control'] {
		cursor: pointer;
		border-style: none;
		border-radius: 0;
		box-shadow: none;
		background-color: #ffffff;
		&.error {
			border-color: #f44336;
		}
	}
	[class*='menu'] {
		font-size: 14px;
		line-height: 18px;
		font-weight: $regular;
		letter-spacing: 0;
		margin-top: 1px;
		position: absolute;
		background-color: #ffffff;
		width: inherit;
	}
	.rsInputErrorMessage {
		text-align: left;
		color: #f44336;
	}
}
