@import 'src/themes/themes';

.rsSelect {
	[class*='container'] {
		width: 100%;
		border: 1px solid theme-var($greyLineColor);
	}
	[class*='control'] {
		cursor: pointer;
		border-style: none;
		border-radius: 0;
		box-shadow: none;
		background-color: #fcfbf8;
		&.error {
			border-color: #f44336;
		}
	}
	[class*='menu'] {
		font-size: 14px;
		line-height: 18px;
		font-weight: $regular;
		letter-spacing: 0;
		margin-top: 1px;
		position: absolute;
		background-color: #fcfbf8;
		width: inherit;
	}
	[class*='option'] {
		scrollbar-track-color: theme-var($secondaryBackgroundColor);
		scrollbar-arrow-color: theme-var($buttonLinkColor);
	}
	.rsInputErrorMessage {
		text-align: left;
		color: #f44336;
	}
}
