@import 'mixins';

// Default theme used throughout
$defaultTheme: (
	//Text Color
	$primaryTextColor: #001933,
	$disableTextColor: #9b9b9b,
	//Buttons Color
	$buttonLinkColor: #004b98,
	//Icon Color
	$iconAndHighlightTextColor: #cc9e0d,
	//Background Color
	$primaryBackgroundColor: #fcfbf8,
	$secondaryBackgroundColor: #f0f0f0,
	$tertiaryBackgroundColor: #cc9e0d15,
	//Error Color
	$errorColor: #cb0000,
	// Box Shadow Color
	$primaryBoxShadowColor: 0px 5px 15px #1e180b33,
	//Misc
	$greyLineColor: #dedede,
	//Font Weight
	$thin: 100,
	$extraThin: 200,
	$light: 300,
	$regular: 400,
	$medium: 500,
	$semiBold: 600,
	$bold: 700,
	$extraBold: 800,
	$heavy: 900,
	$extraBlack: 950
);

.App {
	@include spread-map($defaultTheme);
}
