@import '../../themes/themes';
.rsBookNowImage {
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	.rsBox {
		position: absolute;
		bottom: 20px;
	}
	.rsLabel {
		color: #ffffff;
	}
}
