@import '../../themes/themes';

.rsPrivacyPolicyPage {
	p {
		padding: 20px;
	}
	th {
		border: 1px solid black;
	}

	.centerAlign:first-child {
		margin-top: 80px;
	}
	.centerAlign {
		text-align: center;
	}
}

.small {
	.rsPrivacyPolicyPage {
		.h3 {
			text-align: center;
		}
	}
}
