@import 'src/themes/themes';

.rsMobileAccommodationOverviewPopup {
	max-width: 400px;
	min-width: 200px;
	background-color: #ffffff;
	border-radius: 20px;

	.popupHeader {
		display: flex;
		justify-content: space-between;
		padding: 16px;
		box-shadow: 0 0 8px #00000029;
		border-radius: 20px 20px 0 0;
		overflow: hidden;
	}

	.popupContent {
		padding: 16px;
		height: 100%;
		overflow: scroll;
	}

	.rsCarouselV2 {
		max-width: 368px;
		margin: auto;
		&.small {
			max-width: 300px;
		}
	}

	.accommodationCounts {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		.rsLabel {
			padding: 16px;
		}
	}

	.amenitiesList {
		border-top: 1px solid #7070706e;
		border-bottom: 1px solid #7070706e;
		.amenityItem {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 20px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.floorPlanImg {
		width: auto;
		max-width: 368px;
		height: auto;
		max-height: 200px;
	}

	.expandFloorPlanDiv {
		display: flex;
		justify-content: flex-end;
		margin: 30px auto 20px;
		& > * {
			padding-left: 18px;
			cursor: pointer;
		}
	}

	.superScript {
		vertical-align: super;
		font-size: 12px;
	}
}

.small .rsMobileAccommodationOverviewPopup .rsCarouselV2 {
	max-width: 368px;
	width: 100%;
	min-width: 168px;
}
