@import '../../themes/themes';

.rsAccountAddressPage {
	.rsLabel {
		&.h2 {
			margin-bottom: 25px;
		}
	}
	.rsAccountAddressTile {
		margin-left: 80px;
		margin-bottom: 20px;
	}

	.rsLabelInput,
	.rsLabelSelect,
	.rsLabelCheckbox {
		margin-bottom: 20px;
		&.inputStretched {
			input {
				min-width: 100%;
			}
		}
	}

	.rsLabelSelect {
		width: 100%;
		max-width: 190px;
		.rsSelect {
			max-width: 190px;
		}
	}
}
