@import '../../themes/themes';

.rsAccountAddressPage {
	.rsLabel {
		&.h2 {
			margin-bottom: 25px;
		}
	}

	.rsLabelInput,
	.rsLabelSelect,
	.rsLabelCheckbox {
		margin-bottom: 20px;
		&.inputStretched {
			input {
				min-width: 100%;
			}
		}
	}

	.rsLabelSelect {
		width: 100%;
		max-width: 190px;
		.rsSelect {
			max-width: 190px;
		}
	}
	hr {
		width: 0;
		height: 0;
	}
}

.small {
	.rsAccountAddressPage {
		.rsAccountAddressTile {
			margin-left: 20px;
		}
		.addressList {
			margin: 20px;
		}
		.newAddress {
			margin: 20px;
		}
		hr {
			width: 90%;
			height: 1px;
			border: none;
			margin: 40px auto;
			background-color: theme-var($greyLineColor);
		}
	}
}
