@import '../../themes/themes';
.rsItineraryCostSummaryCard {
	background: theme-var($primaryBackgroundColor);
	padding: 24px 28px;
	hr {
		height: 1px;
		width: 100%;
		background: theme-var($greyLineColor);
		border: none;
		margin: 16px 0;
	}
	.reservation {
		border-bottom: 1px solid theme-var($greyLineColor);
		margin-bottom: 16px;
		padding-bottom: 16px;
	}
}
