@import 'src/themes/themes';

.rsRoomBookNowCard {
	.dateLabels {
		width: 93px;
		line-height: 21px;
	}

	.checkOutLabel {
		margin-left: 18px;
	}
	.earnLabel {
		line-height: 21px;
		justify-content: center;
		display: flex;
		margin-top: 11px;
	}
	.pointsLabel {
		display: flex;
		justify-content: center;
		margin-top: 5px;
	}
	.bookNowBtn {
		display: flex;
		justify-content: center;
		margin-top: 17px;
		width: 201px;
	}
	.compareLinkDiv {
		display: flex;
		justify-content: center;
		margin-top: 5px;
		&:hover {
			cursor: pointer;
		}
	}
	.compareLink {
		color: theme-var($buttonLinkColor);
	}
	.addCompareIcon {
		padding-left: 5px;
	}
	.rsLabelInput {
		margin: 5px auto 0;
		width: 90px;
		&.rateCode {
			text-align: center;
		}
		input {
			text-align: center;
		}
	}
}

.small {
	.rsRoomBookNowCard {
		.rsLabelInput {
			margin: 5px 0 0;
		}
		.roomBookNowTopContent {
			width: 100%;
			display: grid;
			grid-template-rows: auto auto;
			align-items: center;
			justify-content: center;
			.rsBox {
				gap: 15px;
			}
		}

		.numberOfGuests {
			.rsInput {
				height: 42px;
				width: 95px;
				margin-top: 4px;
			}
		}

		.rateCode {
			margin-left: 2px;
			.rsInput {
				height: 42px;
				width: 95px;
				margin-top: 4px;
			}
		}

		.earnPointsBox {
			width: 93px;
			margin-left: 12px;
		}

		.earnLabel {
			justify-content: flex-start;
			line-height: 15px;
		}

		.pointsLabel {
			line-height: 15px;
		}

		.roomBookNowBottomContent {
			display: flex;
			flex-direction: row-reverse;
		}

		.bookNowBtn,
		.compareBtnMobile {
			margin-top: 17px;
			width: 155px;
		}

		.compareBtnMobile {
			margin-right: 7px;
		}

		.addCompareIconMobile {
			margin-left: 2px;
		}
	}
}
