@import 'src/themes/themes';

.rsRoomBookNowCard {
	.dateLabels {
		width: 93px;
		line-height: 21px;
	}
	.checkOutLabel {
		margin-left: 18px;
	}
	.earnLabel {
		line-height: 21px;
		justify-content: center;
		display: flex;
		margin-top: 11px;
	}
	.pointsLabel {
		display: flex;
		justify-content: center;
		margin-top: 5px;
	}
	.bookNowBtn {
		display: flex;
		justify-content: center;
		margin-top: 17px;
		width: 201px;
	}
	.compareLinkDiv {
		display: flex;
		justify-content: center;
		margin-top: 5px;
		&:hover {
			cursor: pointer;
		}
	}
	.compareLink {
		color: theme-var($buttonLinkColor);
	}
	.addCompareIcon {
		padding-left: 5px;
	}
	.rsLabelInput {
		margin: 5px auto 0;
		width: 90px;
		input {
			text-align: center;
		}
	}
}

.small {
	.rsRoomBookNowCard {
		.roomBookNowTopContent {
			display: flex;
		}

		.earnPointsBox {
			width: 93px;
			margin-left: 12px;
		}

		.earnLabel {
			justify-content: flex-start;
		}

		.roomBookNowBottomContent {
			display: flex;
			flex-direction: row-reverse;
		}

		.bookNowBtn,
		.compareBtnMobile {
			margin-top: 17px;
			width: 155px;
		}

		.compareBtnMobile {
			margin-right: 7px;
		}

		.addCompareIconMobile {
			margin-left: 2px;
		}
	}
}
