@import '../../themes/themes';

.small .rsCheckoutBreadcrumbs {
	position: initial;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 20px;
	grid-template-areas: 'backButtonWrapper checkoutTitle' 'smallBreadCrumbs smallBreadCrumbs';
	height: 100%;
	min-height: 0;
	max-height: 100%;
	width: 100%;
	padding: 0;
	justify-content: initial;
	border: none;

	.checkoutTitle {
		display: block;
		grid-area: checkoutTitle;

		.rsLabel {
			font-weight: 500;
		}
	}

	.backButtonWrapper {
		position: initial;
		grid-area: backButtonWrapper;
		width: 52px;
		min-width: 0;
		max-width: 52px;
	}

	.smallBreadCrumbs {
		grid-area: smallBreadCrumbs;
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: center;

		&:first-child {
			border-top: 1px solid theme-var($thinGreyLineColor);
			padding-top: 20px;
		}

		.smallDivider {
			height: 1px;
			width: 36px;
			background-color: #ffa022;
			margin-top: 21px;
		}

		.info,
		.billing,
		.book {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 7px;

			&.active {
				.numberBubble {
					background: #ffa022;
				}
			}

			.numberBubble {
				width: 42px;
				height: 42px;
				border-radius: 100px;
				background: #dedede;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 15px;
				font-weight: 600;
			}
		}
	}

	.breadcrumbs {
		display: none;
	}
}

.rsCheckoutBreadcrumbs {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 79px;
	min-height: 79px;
	max-height: 79px;
	width: 100%;
	border: 0.5px solid theme-var($thinGreyLineColor);
	margin-bottom: 35px;
	box-shadow: inset 0 9px 6px -6px #00000029;
	padding-right: 84px;
	box-sizing: border-box;

	.checkoutTitle {
		display: none;
	}

	.breadcrumbs {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 928px;
		height: 100%;

		.info,
		.payment,
		.reviewAndBook,
		.confirmation {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			font-size: 20px;
			color: theme-var($secondaryTextColor);
			font-weight: 400;
			padding: 3px 16px 0;
			border-bottom: 3px solid transparent;
			box-sizing: border-box;

			&.active {
				color: #ffa022;
				border-bottom: 3px solid theme-var($yellowTextColor);
			}
		}

		.divider {
			height: 0.5px;
			min-height: 0.5px;
			max-height: 0.5px;
			background-color: theme-var($thinGreyLineColor);
			width: 80px;
		}
	}

	.backButtonWrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 84px;
		min-width: 84px;
		max-width: 84px;
		border-right: 0.5px solid theme-var($thinGreyLineColor);
		box-sizing: border-box;
		padding-right: 10px;
		padding-bottom: 3px;
		margin-top: 3px;
		cursor: pointer;

		.backButton {
			transform: rotate(90deg);
		}
	}
}
