@import 'src/themes/themes';

.rsViewHeader {
	width: 100%;
	margin-bottom: 40px;
	.rsButton {
		margin-left: auto;
	}

	.saveChangesBtn {
		height: 47px;
		color: #ffffff;
		margin-left: 85px;
	}

	.rsLabel {
		&.caption {
			text-transform: uppercase;
			color: theme-var($grey400);
		}

		&.h4 {
			display: flex;
			align-items: center;
		}
	}
	.rsChip {
		color: theme-var($primaryTextColor);
		background-color: theme-var($grey300);
		text-transform: uppercase;
		margin-left: 15px;
		&:hover {
			filter: brightness(1) !important;
		}
	}
}
