@import '../../themes/themes';

.rsOtherPaymentCard {
	display: grid;
	grid-template-columns: 200px 191px 16px;
	gap: 20px;
	padding: 10px 0;
}
.small {
	.rsOtherPaymentCard {
		border-bottom: 1px solid #7070706e;
		display: block;
		gap: 0;
		.marginLeft {
			margin-left: 32px;
		}
		.rsLabelRadioButton,
		.rsLabel.customSeventeen {
			margin-bottom: 20px;
		}
	}
}
