@import '../../themes/themes';

.rsOrderConfirmationPage {
	.rsPaper {
		background-color: theme-var($secondaryBackgroundColor);

		.confirmationHeader {
			align-items: center;
		}

		.confirmationBody {
			align-items: center;
		}

		hr {
			height: 1px;
			width: 100%;
			background: theme-var($greyLineColor);
			border: none;
			margin: 16px 0;
		}
		img {
			width: 200px;
			height: 200px;
			object-fit: contain;
			margin-right: 80px;
		}

		.pointsLabel {
			margin-left: auto;
			color: theme-var($iconAndHighlightTextColor);
			span {
				font-size: 16px;
				line-height: 20px;
				font-weight: $regular;
				letter-spacing: 0;
			}
		}
	}

	.confirmationHeader {
		.orderDate {
			width: 230px;
		}
	}

	.orderDate {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.pointCost {
		text-align: start;
	}

	.rewardImage {
		background-size: cover;
	}
}

.small .rsOrderConfirmationPage {
	.confirmationHeader {
		flex-direction: column;
		align-items: start;
	}

	.confirmationBody {
		flex-direction: column;
		align-items: start;
		.rsBox {
			flex-direction: column;
		}
		.rsLabel {
			margin: 0;
		}
	}
}
