@import '../../themes/themes';

.rsOrderConfirmationPage {
	hr {
		margin: 20px 0;
	}
	.rsPaper {
		background-color: theme-var($secondaryBackgroundColor);
		padding: 0;
		.confirmationHeader {
			align-items: center;
		}

		.orderTotal {
			justify-self: flex-end;
		}

		.confirmationLabel {
			text-align: center;
			margin: 20px auto;
			color: theme-var($buttonLinkColor);
		}

		.rsAccordion {
			margin-bottom: 15px;
			.articleItemHeader {
				padding: 0;
			}
		}

		.confirmationBody {
			align-items: center;
		}

		hr {
			height: 1px;
			width: 100%;
			background: theme-var($greyLineColor);
			border: none;
			margin: 16px 0;
		}
		img {
			width: 800px;
			height: 400px;
		}

		.rsLabel {
			width: fit-content;
			width: -moz-fit-content;
		}
	}
}

.small .rsOrderConfirmationPage {
	align-items: center;
	.rsPaper {
		img {
			width: 100%;
			height: auto;
		}
	}
	.sectionOne {
		margin-bottom: 25px;
	}
}
