@import '../../../themes/themes';
.rsUserBasicInfoPaperMobile {
	padding: 23px 33px 23px 23px;
	.visibilityIcon {
		padding-left: 16px;
	}
	.loadingBarContainer {
		height: 35px;
		border-radius: 20px;
		width: 100%;
		background-color: theme-var($greyLineColor);
		overflow: hidden;
		.loadingBar {
			height: 100%;
			background: #2c3c60;
		}
	}
	.rsLabelButton {
		&.contained {
			&.primary {
				background-color: theme-var($yellowTextColor);
				padding: 16px 46px;
				box-sizing: border-box;
				@media screen and (max-width: 500px) {
					padding: 6px 18px;
					width: 170px;
				}
				.rsLabel {
					color: #222222;
				}
				&:hover {
					background-color: theme-var($yellowTextColor);
				}
			}
		}
	}
	.pointsContainer {
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 360px) {
			.customTwentyThree {
				font-size: 13px;
			}
		}
	}
}
