@import '../../themes/themes';

.rsAccommodationDetailsPage {
	.sectionOne {
		position: relative;
		.rsAccommodationInfoCardWrapper {
			position: absolute;
			top: 300px;
			left: 80px;
			z-index: 11;
		}
		.tanBox {
			position: absolute;
			background: #f7f1db;
			width: 532px;
			height: 80px;
			bottom: -80px;
			left: 0;
			z-index: 9;
		}
	}
	.sectionFour {
		.rsCategoryFeatureIcons {
			margin: 0 25px;
		}
	}
}

.small {
	.rsAccommodationDetailsPage {
		.rsAccommodationInfoCard,
		.rsRoomBookNowCard {
			margin: 0 auto;
		}

		.sectionOne {
			.rsAccommodationInfoCardWrapper {
				display: block !important;
				position: absolute;
				top: 150px;
				left: 0;
				right: 0;
			}
		}
		.tanBox {
			display: none;
		}
	}
}
