.rsSignupBanner {
	max-width: 1920px;
	height: 237px;
	width: clamp(325px, 95vw, 1920px);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 38px;
	margin: 88px 0 117px;
	background: url('https://image.redskytech.io/AboutSpireSignUp/resort-slide_FDIu1DISy.png?tr=w-440');
	background-size: cover;
	border-radius: 20px;
	.textTag {
		margin: 55px 0 38px;
		color: #ffffff;
	}
}

.small {
	.rsSignupBanner {
		margin: 20px auto;
		height: 150px;
		position: sticky;
		bottom: 10px;
		background: url('https://image.redskytech.io/AboutSpireSignUp/resort-slide_FDIu1DISy.png?th=h-200');
		background-size: cover;
		.textTag {
			font-size: 20px;
			margin: 25px 0 5px;
			color: #ffffff;
		}
	}
}
