@import '../../../themes/themes';
.rsImageTitleDescription {
	padding: 30px;
	box-sizing: border-box;
	background-color: rgba(30, 24, 11, 0.4);
	width: 500px;
	min-height: 180px;
	.rsLabel {
		color: white;
		&.h2 {
			margin-bottom: 10px;
		}
	}
}
