@import 'src/themes/themes';

.rsComparisonPage {
	.heroImage {
		background-position-y: 38%;
	}

	.destinationPath {
		color: theme-var($buttonLinkColor);
		margin-top: 28px;
		.rsIcon {
			display: flex;
			align-self: flex-end;
		}
		.rsLabel {
			color: theme-var($buttonLinkColor);
		}
	}

	.backNavigation {
		color: theme-var($buttonLinkColor);
		&:hover {
			cursor: pointer;
		}
	}
}
