@import 'src/themes/themes';

.rsComparisonPage {
	.heroImage {
		background-position-y: 38%;
	}

	.destinationPath {
		color: theme-var($buttonLinkColor);
		margin-top: 28px;
		.rsIcon {
			display: flex;
			align-self: flex-end;
		}
		.rsLabel {
			color: theme-var($buttonLinkColor);
		}
	}

	.comparisonTable {
		margin-top: 55px;
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;

		.blankCell {
			width: 160px;
		}
		th {
			height: 100px;
			text-align: left;
		}
		td {
			height: 40px;
			width: 278px;
			padding: 5px;
			border-spacing: unset;
		}
		tbody {
			tr:nth-child(odd) {
				background-color: #fcfbf8;
			}
			td:first-child {
				padding-left: 5px;
			}
		}
		.features {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.rsIconToolTip {
				padding: 5px;
			}
		}
	}

	.backNavigation {
		color: theme-var($buttonLinkColor);
		&:hover {
			cursor: pointer;
		}
	}
}

//.small {
//	.rsComparisonPage {
//		.destinationPath {
//			margin-top: 18px;
//		}
//		.rsPaper {
//			overflow: hidden;
//			.backNavigation {
//				position: absolute;
//				left: 10px;
//			}
//			.tableContainer {
//				overflow: scroll;
//				.comparisonTable {
//					width: auto;
//					border-collapse: separate;
//					.blankCell {
//						background-color: white;
//					}
//					td {
//						border-right: 1px solid theme-var($greyLineColor);
//						max-width: 110px;
//						width: 100px;
//						padding: 10px;
//					}
//					th {
//						padding: 10px;
//						width: 110px;
//						border-right: 1px solid theme-var($greyLineColor);
//						background-color: white;
//					}
//					td:first-child {
//						position: sticky;
//						left: 0;
//						z-index: 1;
//					}
//					td:nth-child(2) {
//						position: sticky;
//						left: 90px;
//						z-index: 1;
//					}
//					th:first-child {
//						position: sticky;
//						left: 0;
//						z-index: 1;
//					}
//					th:nth-child(2) {
//						position: sticky;
//						left: 90px;
//						max-width: 100px;
//						z-index: 1;
//					}
//					.evenCell {
//						background-color: white;
//					}
//					.oddCell {
//						background-color: #fcfbf8;
//					}
//				}
//			}
//		}
//	}
//}
