@import 'src/themes/themes';

.rsComparisonPage {
	.heroImage {
		background-position-y: 38%;
	}

	.destinationPath {
		color: theme-var($buttonLinkColor);
		margin-top: 28px;
		.rsIcon {
			display: flex;
			align-self: flex-end;
		}
		.rsLabel {
			color: theme-var($buttonLinkColor);
		}
	}

	.comparisonTable {
		margin-top: 55px;
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;

		.blankCell {
			width: 160px;
		}
		th {
			height: 100px;
			text-align: left;
		}
		td {
			height: 40px;
			width: 278px;
			padding: 5px;
			border-spacing: unset;
		}
		tbody {
			tr:nth-child(odd) {
				background-color: #fcfbf8;
			}
			td:first-child {
				padding-left: 5px;
			}
		}
	}

	.backNavigation {
		color: theme-var($buttonLinkColor);
		&:hover {
			cursor: pointer;
		}
	}
}

.small {
	.rsComparisonPage {
		.destinationPath {
			margin-top: 18px;
		}
		.comparisonTable {
			border-collapse: separate;
			border-spacing: 10px;
		}
	}
}
