.rsRateCodeSelect {
	display: flex;
	justify-content: space-between;
	align-items: center;
	//grid-template-columns: 400px 400px;

	//.applyButton {
	//	place-self: end;
	//}
}

.small {
	.rsRateCodeSelect {
		grid-template-columns: 50% 50%;
	}
}
