$toastSuccessColor: #208d00;
$toastInfoColor: #5da9df;
$toastWarningColor: #ffb900;
$toastErrorColor: #dd1100;

.rsToastContainer {
	display: flex;
	position: fixed;
	z-index: 1000;
	width: 90%;
	max-width: 550px;
	background: white;
	top: 10px;
	right: 5px;
	border: 1px solid #cecece;
	padding: 5px 5px;
	align-items: center;

	.rsLabel.subtitle1 {
		font-weight: 800;
	}

	.rsIcon {
		margin-right: 13px;
	}

	@keyframes fadeout {
		0% {
			opacity: 1;
			transform: scale(1);
		}
		100% {
			opacity: 0;
			transform: scale(0.9);
		}
	}

	@keyframes fadein {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	&.toggleOut {
		animation: fadeout 800ms;
		opacity: 0;
	}

	&.toggleIn {
		animation: fadein 800ms;
		opacity: 1;
	}

	.verticalLine {
		min-width: 3px;
	}

	&.success {
		.verticalLine {
			background: $toastSuccessColor;
		}

		.rsIcon {
			color: $toastSuccessColor;
		}
	}

	&.error {
		.verticalLine {
			background: $toastErrorColor;
		}

		.rsIcon {
			color: $toastErrorColor;
		}
	}

	&.warning {
		.verticalLine {
			background: $toastWarningColor;
		}

		.rsIcon {
			color: $toastWarningColor;
		}
	}

	&.info {
		.verticalLine {
			background: $toastInfoColor;
		}

		.rsIcon {
			color: $toastInfoColor;
		}
	}

	&.customToast {
		.verticalLine {
			background: $toastWarningColor;
		}

		.rsIcon {
			color: $toastWarningColor;
		}
	}
}
