@import '../../themes/themes';
.rsLandingPage {
	.rsLabel {
		span {
			color: theme-var($iconAndHighlightTextColor);
		}
	}

	.tanBox {
		position: absolute;
		top: 0;
		width: 100%;
		height: 580px;
		background-color: #f7f1db;
	}

	.heroImgAndText {
		position: relative;
		padding-left: 78px;
		box-sizing: border-box;
		background-image: url('../../images/landingPage/hero-image.png');
		background-repeat: no-repeat;
		background-position: center;
		width: 1257px;
		height: 729px;
		margin-bottom: 135px;
		.heroText {
			font-size: 60px;
			line-height: 70px;
			font-weight: $heavy;
			color: #ffffff;
			text-shadow: theme-var($primaryBoxShadowColor);
			span {
				color: theme-var($iconAndHighlightTextColor);
			}
		}
		.rsLabelButton {
			margin-top: 25px;
		}

		.infoCardWrapper {
			position: absolute;
			bottom: -20px;
			.rsInfoCard {
				margin-right: 26px;
			}
		}
	}

	.sectionOne {
		width: 100%;
		margin-bottom: 220px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.rsLabel {
			&.h1 {
				margin-bottom: 40px;
				span {
					color: theme-var($iconAndHighlightTextColor);
				}
			}
		}
		.featureRewardCardsContainer {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-bottom: 40px;
			.rsFeaturedRewardCard {
				margin: 0 10px;
			}
		}
	}
	.sectionTwo {
		position: relative;
		height: 586px;
		width: 100%;

		.coupleImg {
			position: absolute;
			width: 1106px;
			height: 536px;
			top: 0;
			left: 0;
			background-image: url('../../images/landingPage/couple-with-kid.png');
			background-repeat: no-repeat;
			background-position: bottom;
			z-index: 10;
		}
		.tanBox2 {
			position: absolute;
			height: 450px;
			width: 602px;
			bottom: 0;
			right: 0;
			background-color: #f7f1db;
		}
		.rsPaper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			position: absolute;
			right: 78px;
			top: 0;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;
			z-index: 11;
		}
	}

	.sectionThree {
		position: relative;
		overflow-x: hidden;
		.rsLabel {
			&.h1 {
				margin: 10px 0;
			}
		}

		.imageContainer {
			height: 450px;
			width: fit-content;
			transform: translateX(420px);
			transition: all 1000ms;
			&.stageOne {
				transform: translateX(160px);
			}
			&.stageTwo {
				transform: translateX(-100px);
			}

			img {
				width: 236px;
				height: 206px;
				transition: all 1000ms;
				margin: 0 12px;

				&.selected {
					width: 576px;
					height: 450px;
				}
			}
		}

		.rsPaper {
			&.imageStepper {
				top: 197px;
				left: 76px;

				.rsInfoCard {
					margin: 16px 0;
					border-bottom: 1px solid theme-var($greyLineColor);
					transition: color 300ms;

					.rsLabel,
					.rsIcon {
						transition: color 300ms;
						color: theme-var($greyLineColor) !important;
					}

					&.selected {
						.rsLabel {
							color: theme-var($primaryTextColor) !important;
						}

						.rsIcon {
							color: theme-var($iconAndHighlightTextColor) !important;
						}
					}
				}
			}
		}

		.rsLabelButton {
			margin: 36px auto 0;
		}
	}

	.sectionFour {
		.sectionFourCardsWrapper {
			grid-template-columns: auto auto;
		}
		img {
			margin-right: 50px;
		}
		.rsLabel {
			&.h1 {
				margin-bottom: 30px;
			}
		}
		.rsInfoCard {
			margin: 0 20px 20px 0;
		}
	}

	.sectionFive {
		.rsLabel {
			&.h1 {
				text-align: center;
				margin-bottom: 35px;
			}
		}
		.rsFeaturedDestinationCard {
			margin: 0 12px;
		}
	}
}

.small {
	.rsLandingPage {
		.tanBox {
			height: 388px;
		}
		.heroImgAndText {
			width: 321px;
			height: 423px;
			padding-left: 20px;
			.heroText {
				font-size: 30px;
				line-height: 35px;
			}
			.infoCardWrapper {
				flex-direction: column;
				bottom: -240px;
				.rsInfoCard {
					width: 335px !important;
					height: 95px !important;
					margin-right: 0;
					margin-bottom: 10px;
				}
			}
		}
		.sectionOne {
			.rsFeaturedRewardCard {
				.mainImg {
					width: 335px;
					height: 220px;
				}
			}
			.rsLabel {
				&.h2 {
					margin-bottom: 30px;
				}
			}
		}
		.sectionTwo {
			.coupleImg {
				width: 375px;
				height: 270px;
				background-position: center;
				background-size: contain;
			}
			.tanBox2 {
				width: 355px;
				height: 339px;
			}
			.rsPaper {
				width: 335px !important;
				height: 383px !important;
				right: 0;
				left: 0;
				top: 158px;
				bottom: 0;
				margin: auto;
				z-index: 11;
			}
		}
		.sectionThree {
			.mobileImageStepperWrapper {
				position: relative;
				width: 100%;
				//margin: 20px 20px 200px;
				margin: 20px 20px 175px;

				.rsCarousel {
					padding: 0 20px;
					box-sizing: border-box;
					img {
						width: 315px;
						height: 244px;
						transition: all 1000ms;
						margin-right: 20px;

						&.selected {
							//width: 576px;
							//height: 450px;
						}
					}
				}

				.rsPaper {
					&.mobileImageStepper {
						top: 217px;
						left: 0;

						.rsInfoCard {
							position: absolute;
							opacity: 0;
							top: 0;
							bottom: 0;
							margin: auto 0;
							transition: color 1000ms, opacity 1000ms ease;

							.rsLabel,
							.rsIcon {
								transition: color 1000ms;
								color: #fcfbf8 !important;
							}

							&.selected {
								transition: color 1000ms, opacity 1000ms ease;
								opacity: 1;
								.rsLabel {
									color: theme-var($primaryTextColor) !important;
								}

								.rsIcon {
									color: theme-var($iconAndHighlightTextColor) !important;
								}
							}
						}
					}
				}
			}
		}
		.sectionFour {
			margin: 0 auto 140px !important;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.sectionFourCardsWrapper {
				grid-template-columns: auto;
			}

			img {
				width: 315px;
				height: 244px;
				margin-right: 0;
			}
			.rsBox {
				align-items: center;
			}

			.rsLabel {
				&.h2 {
					margin: 31px auto;
				}
			}

			.rsInfoCard {
				margin: 0 auto 15px;
				width: 335px !important;
				height: 95px !important;
			}
		}
		.sectionFive {
			.rsLabel {
				&.h2 {
					width: 266px;
					margin: 0 auto 36px;
				}
			}
		}
	}
}
