@import 'src/themes/themes';

.rsResortComparisonCard {
	border-bottom: 1px solid theme-var($greyLineColor);
	height: 82px;
	width: 278px;

	.topContent {
		justify-content: space-between;

		.title {
			width: 135px;
			align-self: flex-end;
			font-size: 16px;
			line-height: 16px;
		}
	}

	.bottomContent {
		justify-content: flex-end;

		.rsSelect {
			width: 180px;
			height: 30px;
			margin-top: 15px;

			.primaryTextColor {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		.rsLabel.body2 {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.small {
	.rsResortComparisonCard {
		width: 210px;
		height: 73px;

		.title {
			margin-top: 14px;
		}
		padding-bottom: 7px;
	}
}
