@import 'src/themes/themes';

.rsResortComparisonCard {
	height: 82px;
	margin: 0 20px;
	display: flex;
	align-items: center;
	gap: 48px;

	.imageContainer {
		max-width: 178px;
		max-height: 59px;
	}
}
