@import 'src/themes/themes';

.rsResortComparisonCard {
	border-bottom: 1px solid theme-var($greyLineColor);
	height: 82px;
	width: 278px;

	.topContent {
		justify-content: space-between;

		.title {
			width: 135px;
			align-self: flex-end;
			font-size: 16px;
			line-height: 16px;
		}
	}

	.bottomContent {
		justify-content: flex-end;

		.rsSelect {
			width: 180px;
			height: 30px;
			margin-top: 15px;
		}
	}
}

.small {
	.rsResortComparisonCard {
		width: fit-content;
		height: 73px;

		.title {
			margin-top: 14px;
		}
	}
}
