@import '../../themes/themes';
.rsReservationDetailsPaper {
	padding: 38px 56px 56px;
	background: #ffffff;
	max-width: 1090px;
	.rsImg {
		width: 100%;
		height: auto;
		border-radius: 20px;
		min-height: 470px;
		object-fit: cover;
	}

	.rsIconLabel {
		.rsIcon {
			&.icon-pin {
				color: #d2555f;
			}
		}
	}

	.infoSection {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		column-gap: 100px;
		row-gap: 40px;
	}

	.amenitiesIcons {
		margin-right: 60px;
	}
}

.small {
	.rsReservationDetailsPaper {
		padding: 27px 23px 44px;
		.rsImg {
			min-height: 208px;
		}

		.infoSection {
			grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			column-gap: 50px;
			row-gap: 24px;
		}

		.amenitiesIcons {
			margin-right: 20px;
			margin-bottom: 30px;
		}
	}
}
