@import '../../themes/themes';

.rsTabbedImageCarousel {
	--hangover: 258px;
	position: relative;

	div {
		margin: 0;
	}
	.tabContainer {
		position: relative;
		max-width: 1440px;
		.arrowIcon {
			padding-left: 5px;
			padding-right: 5px;
			z-index: 100;
		}
		.rightArrow {
			position: absolute;
			top: 10px;
			right: 0;
		}
		.leftArrow {
			position: absolute;
			top: 10px;
			left: 0;
		}
		.none {
			display: none;
		}

		.tabList {
			display: flex;
			overflow-x: auto;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
			-webkit-scroll-snap-type: mandatory;
			scroll-snap-type: x mandatory;
			-webkit-scroll-snap-points-x: repeat(100%);
			scroll-snap-points-x: repeat(100%);
			width: 100%;
			position: relative;
			background-color: theme-var($buttonLinkColor);
			color: white;
			margin: 0 auto;
			z-index: 15;
			box-sizing: border-box;
			opacity: 0.9;
			align-items: center;
			div {
				margin: 0 auto;
			}

			.tab {
				margin: 8px 0;
				padding: 5px 30px;
				border-bottom: 1px solid white;
				white-space: nowrap;
				.rsLabel {
					color: white;
					cursor: pointer;
				}
				&.activeTab {
					border-width: 2px;
					border-color: theme-var($iconAndHighlightTextColor);
				}
				&:first-child {
					margin-left: auto;
				}
				&:last-child {
					margin-right: auto;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
		.tabList::-webkit-scrollbar {
			width: 0 !important;
			height: 0 !important;
		}
	}

	.rsBox.galleryItem {
		width: 100%;
		height: 100%;
		background-color: theme-var($greyLineColor);
		display: none;
		position: absolute;
		top: 0;
		&.shown {
			display: block;
		}

		div.imageHolder {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.rsPaper {
			width: 524px;
			position: relative;
			white-space: normal;
			bottom: var(--hangover);
			left: 140px;
			background-color: theme-var($primaryBackgroundColor);

			> * {
				margin-left: 50px;
				margin-right: 50px;
				display: inline-block;
			}
			.h1 {
				margin-top: 50px;
				margin-bottom: 15px;
			}
			.body2 {
				margin-bottom: 30px;
			}
			.rsLabelButton {
				margin-bottom: 40px;
			}
		}
	}
}

.small {
	.rsTabbedImageCarousel {
		--hangover: 160px;
		.tabContainer {
			.tabList {
				width: 100%;
				overflow-x: scroll;
				.arrowIcon .rightArrow .leftArrow {
					display: none;
				}
			}
		}

		.rsBox.galleryItem {
			div.imageHolder {
				position: relative;
				img {
					height: 100%;
				}
			}

			.rsPaper {
				width: 335px;
				left: 20px;
				bottom: var(--hangover);

				> * {
					margin-left: 20px;
					margin-right: 20px;
				}
				.h1 {
					margin-top: 20px;
					margin-bottom: 10px;
				}
				.body2 {
					margin-bottom: 20px;
				}
				.rsLabelButton {
					margin-bottom: 25px;
				}
			}
		}
	}
}
