@import '../../themes/themes';

.rsBookingFlowAddRoomPage {
	margin-top: 80px;
	.rsRateCodeSelect {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid theme-var($greyLineColor);
	}
	.rsAccommodationSearchResultCard {
		margin: 35px auto;
		img {
			min-width: 100px;
		}
	}

	.backLink {
		color: theme-var($buttonLinkColor);
		width: fit-content;
		width: -moz-fit-content;
		&:hover {
			cursor: pointer;
		}
	}
}

.small {
	.rsBookingFlowAddRoomPage {
		.rs-page-content-wrapper {
			margin-top: 50px;
		}
		.rsAccommodationSearchResultCard {
			width: min(70vw);
			max-width: 700px;
			grid-template-columns: min(100px) auto;
			img {
				width: 100%;
			}
			.rsAccommodationSearchCallToActionCard {
				width: min(70vw);
				max-width: 700px;
			}
		}
	}
}
