@import '../../themes/themes';

.rsBookingFlowAddRoomPage {
	.rs-page-content-wrapper {
		max-width: 1160px !important;
		padding-top: 120px;
		hr {
			height: 1px;
			width: 100%;
			background: theme-var($greyLineColor);
			border: none;
			margin: 20px 0;
		}

		.rsAccordion {
			border-bottom: 1px solid theme-var($greyLineColor);
			.articleItemChildren {
				margin-bottom: 10px;
			}
		}
		.rsAccommodationSearchResultCard {
			margin: 35px auto;

			img {
				min-width: 100px;
			}
		}
	}

	.backLink {
		color: theme-var($buttonLinkColor);
		width: fit-content;
		width: -moz-fit-content;
		&:hover {
			cursor: pointer;
		}
	}
}

.small {
	.rsBookingFlowAddRoomPage {
		.rs-page-content-wrapper {
			margin-top: 50px;
		}
		.rsAccommodationSearchResultCard {
			width: min(70vw);
			max-width: 700px;
			grid-template-columns: min(100px) auto;
			img {
				width: 100%;
			}
			.rsAccommodationSearchCallToActionCard {
				width: min(70vw);
				max-width: 700px;
			}
		}
	}
}
