@import '../../themes/themes';

.rsSignupOptionCheckboxes {
	.checkboxContainer {
		display: flex;
		align-items: center;
		position: relative;
		input {
			width: 18px;
			height: 18px;
			padding: 2px;
			box-sizing: border-box;
			opacity: 0;
			cursor: pointer;
			&:checked ~ .checkbox .rsBox {
				height: 100%;
				width: 100%;
				background-color: theme-var($buttonLinkColor) !important;
			}
		}

		.checkbox {
			position: absolute;
			top: 4px;
			left: 0;
			width: 18px;
			height: 18px;
			cursor: pointer;
			border: 1px solid theme-var($greyLineColor);
			padding: 2px;
			box-sizing: border-box;
			.rsBox {
				width: 100%;
				height: 100%;
			}
		}
	}
}
