@import '../../themes/themes.scss';

.rsDateRangeSelector {
	width: fit-content;
	.startEndLabels {
		display: grid;
		grid-template-columns: 114px auto;
		column-gap: 31px;
		margin-bottom: 10px;
		.startDateLabel {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				width: 1px;
				background: #707070;
				height: 46px;
				z-index: 99;
				right: 0;
			}
		}
	}
	.DateRangePicker {
		.DateRangePicker_picker {
			top: 46px !important;
			border-radius: 32px;
			div {
				border-radius: 32px;
			}
		}
		.DateInput {
			width: 88px;
			&.DateInput_1:first-of-type {
				margin-right: 60px;
			}
		}
		.DateInput_input {
			font-size: 15px;
			font-weight: 200;
			line-height: 16px;
			height: 16px;
			width: 80px;
			padding: 0;
			color: #adadad;
			&:hover {
				cursor: pointer;
			}
			&::placeholder {
				font-family: 'Gothic', sans-serif;
				font-size: 16px;
				line-height: 21px;
				letter-spacing: 0;
				font-weight: 300;
				color: #1e180b;
			}
		}
		.DateRangePickerInput {
			align-items: center;
		}
		.DateRangePickerInput_arrow {
			display: none;
		}

		.DateInput_fang {
			display: none;
		}

		.DayPicker_focusRegion {
			display: flex;
		}

		.DayPicker_weekHeader {
			padding: 0 22px !important;
		}
		.CalendarDay__blocked_out_of_range {
			&:hover {
				&:after {
					border: none;
				}
			}
		}

		.DayPickerNavigation {
			display: flex;
			justify-content: space-between;
			position: absolute;
			width: 90%;
			margin: 4%;
		}
		.DayPickerNavigation_button {
			width: -moz-fit-content;
			width: fit-content;
			font-size: 10px;
		}

		.CalendarMonth_table {
			border-collapse: separate;
		}

		.CalendarDay__selected {
			border: none;
		}

		.CalendarDay__selected_span {
			position: relative;
			background: theme-var($secondaryCalendarColor);
			color: theme-var($primaryCalendarColor);
			border: none;
			&:hover {
				&:after {
					content: '';
					border: 1px solid theme-var($primaryCalendarColor);
					border-radius: 50%;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 0;
				}
			}
		}

		.CalendarDay__selected_start {
			border-radius: 50%;
			position: relative;
			z-index: 0;
			background: theme-var($primaryCalendarColor);
			&:before {
				display: block;
				position: absolute;
				content: '';
				left: 50%;
				right: 0;
				bottom: 0;
				top: 0;
				background: theme-var($secondaryCalendarColor);
				z-index: -1;
			}

			&:after {
				display: block;
				position: absolute;
				content: '';
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background: theme-var($primaryCalendarColor);
				z-index: -1;
				border-radius: 50%;
			}
		}

		.CalendarDay__selected_end {
			border-radius: 50%;
			position: relative;
			z-index: 0;
			background: theme-var($primaryCalendarColor);
			&:before {
				display: block;
				position: absolute;
				content: '';
				left: 0;
				right: 50%;
				bottom: 0;
				top: 0;
				background: theme-var($secondaryCalendarColor);
				z-index: -1;
			}

			&:after {
				display: block;
				position: absolute;
				content: '';
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				background: theme-var($primaryCalendarColor);
				z-index: -1;
				border-radius: 50%;
			}
		}

		.CalendarDay__default {
			border: none;
			position: relative;
			&:not(.CalendarDay__blocked_out_of_range) {
				&:hover {
					background: theme-var($primaryBackgroundColor);

					&:after {
						content: '';
						border: 1px solid theme-var($primaryCalendarColor);
						border-radius: 50%;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						z-index: 0;
					}
				}
			}
		}

		.CalendarDay__hovered_span {
			background: theme-var($secondaryCalendarColor);
			color: theme-var($primaryCalendarColor);
			&:not(.CalendarDay__blocked_out_of_range) {
				&:hover {
					border-radius: 50%;
					border: 1px solid theme-var($primaryCalendarColor);
				}
			}
		}

		.DayPickerKeyboardShortcuts_buttonReset {
			display: none;
		}
	}
}
