@import '../../themes/themes.scss';

.rsDateRangeSelector {
	.DateRangePicker {
		.DateInput {
			width: 68px;
			height: 40px;
			padding-right: 25px;
			border: 1px solid theme-var($primaryTextColor);
			background-color: theme-var($primaryBackgroundColor);
		}
		.DateInput:last-of-type {
			margin-left: 13px;
		}
		.DateInput_input {
			font-size: 15px;
			font-weight: 200;
			line-height: 17px;
			color: #adadad;
			&:hover {
				cursor: pointer;
			}
		}
		.DateRangePickerInput_arrow {
			display: none;
		}
		.DateInput_input__focused {
			color: black;
		}
		.CalendarDay__selected_span {
			background: theme-var($buttonLinkColor);
			color: white;
			border: 1px solid white;
		}
		.CalendarDay__selected_span:hover {
			background: theme-var($greyLineColor);
			color: theme-var($primaryTextColor);
			border: 1px solid white;
		}
		.CalendarDay__selected {
			background: theme-var($buttonLinkColor);
			color: white;
			border: 1px solid theme-var($greyLineColor);
		}
		.CalendarDay__selected:hover {
			background: theme-var($buttonLinkColor);
			color: white;
			border: 1px solid theme-var($greyLineColor);
		}
		.CalendarDay__hovered_span:hover,
		.CalendarDay__hovered_span {
			background: theme-var($buttonLinkColor);
			color: white;
			border: 1px solid theme-var($greyLineColor);
		}
		.DayPickerKeyboardShortcuts_buttonReset {
			display: none;
		}
	}
}
