@import '../../themes/themes';

.rsAccountAddressTile {
	display: grid;
	grid-template-columns: 230px 137px 16px;
	gap: 20px;
	padding: 10px 0;
}
.small {
	.rsAccountAddressTile {
		grid-template-columns: 170px 109px 16px;
		gap: 0;
	}
}
