@import '../../themes/themes.scss';

.rsFilterBarDropDown {
	min-height: 60px;

	.rsDropdownBtn {
		border: 1px solid theme-var($secondaryTextColor);
		background-color: theme-var($primaryBackgroundColor);
		padding: 5px 10px;
		border-radius: 10px;

		.labelContainer {
			.filerByLabel {
				color: theme-var($secondaryTextColor);
				opacity: 0.49;
			}
			.filterTitleLabel {
				font-family: Montserrat, serif;
				font-size: 17px;
				color: theme-var($secondaryTextColor);
			}
		}
		.chevronIcon {
			padding-top: 3px;
		}
	}
	.DropdownContent {
		margin-top: 1.5rem;
		box-shadow: 0 0 8px theme-var($secondaryTextColor);
		opacity: 0.25;
		border-radius: 10px;
		z-index: 1;

		.dropdownFooter {
			.clearBtn {
				background-color: unset;
				border: unset;
				font-size: 17px;
				text-decoration: underline;

				&:hover {
					cursor: pointer;
				}
			}
			.applyBtn {
				padding: 7px;
				color: theme-var($primaryBackgroundColor);
				border-radius: 10px;
				background-color: theme-var($buttonLinkColor);
				border: unset;
				width: 90px;
				height: 38px;
				letter-spacing: 1px;

				&:hover {
					background-color: theme-var($primaryTextColor);
					cursor: pointer;
				}
			}
		}
	}
}
