@import '../../themes/themes.scss';

.rsFilterBarDropDown {
	min-height: 60px;

	.rsDropdownBtn {
		border: 1px solid theme-var($greyLineColor);
		padding: 10px 17px;
		border-radius: 10px;
		background: #fff;
		gap: 55px;

		.iconSpin {
			animation-duration: 0.4s;
			animation-fill-mode: forwards;
			margin-left: auto;
		}

		.up {
			animation-name: spinUp;
		}
		.down {
			animation-name: spinDown;
		}

		@keyframes spinDown {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(-180deg);
			}
		}

		@keyframes spinUp {
			0% {
				transform: rotate(-180deg);
			}
			100% {
				transform: rotate(0deg);
			}
		}

		.filterByLabel {
			color: theme-var($secondaryTextColor);
			opacity: 0.5;
		}
		.filterTitleLabel {
			font-family: Montserrat, serif;
			font-size: 15px;
			color: theme-var($secondaryTextColor);
		}
		.chevronIcon {
			padding-top: 3px;
		}
		&:hover {
			cursor: pointer;
		}
	}

	.dropdownContent {
		box-shadow: 0 4px 5px 0 theme-var($greyLineColor);
		border-radius: 10px;
		position: absolute;
		z-index: 1;
		background: #fff;

		.dropdownFooter {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-top: 1px solid rgb(224, 224, 224);
			padding: 22px 30px;
		}
	}
}
