@import '../../themes/themes';

.rsReservationCard {
	display: grid;
	grid-template-columns: 278px 685px 204px;
	justify-content: center;
	.columnOne {
		height: 230px;
		margin-right: 16px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.rsCarousel {
			margin-right: 16px;
			height: 230px;
			width: 262px;
			min-width: 262px;
			.carouselParent {
				overflow-x: hidden;
			}
			.imageWrapper {
				width: 262px;
				height: 230px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.columnTwo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.rowOne {
			img {
				width: 100px;
				height: 50px;
				object-fit: contain;
				margin-right: 25px;
			}
		}
		.rsReservationInfoCard {
			margin-left: auto;
		}
	}

	.columnThree {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		div {
			height: 50%;
			display: flex;
			//align-items: flex-end;
			justify-content: flex-end;
			flex-direction: column;
		}
		.rsLabelLink {
			.rsLabel {
				color: theme-var($buttonLinkColor);
			}
		}
	}
}
