@import url('./fonts/Montserrat/font.scss');
@import url('./fonts/Gothic/font.scss');
@import 'themes/themes';
@import 'themes/label';
@import 'themes/button';
@import 'themes/input';
@import 'themes/select';

body {
	margin: 0;
}

.loggedInView {
	#admin {
		//height: calc(100% - 64px);
		//min-height: calc(100vh - 64px);
	}
}
.App {
	@include spread-map($defaultTheme);
}

.rs-view {
	height: 100%;
	background-color: #ffffff;
	color: theme-var($primaryTextColor);
	overflow: visible;
	.rs-page {
		background-color: inherit;
		color: inherit;
		position: relative;
		overflow-y: visible;
		.rs-page-content-wrapper {
			position: relative;
			background-color: inherit;
			color: inherit;
			margin: 0 auto;
			max-width: 1440px;
		}
	}
}
