@import 'src/themes/themes';

.rsLoyaltyTierPopup {
	position: relative;
	.tierPopupContainer {
		width: clamp(356px, 100%, 1100px);
		height: clamp(94%, 40%, 739px);
		max-height: 739px;
		background: #ffffff;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		.closeIcon {
			position: absolute;
			right: 33px;
			top: 29px;
			cursor: pointer;
		}
		.popupHeader {
			width: 100%;
			border-bottom: 1px solid theme-var($greyLineColor);
			display: flex;
			.headerText {
				padding: 35px 0 30px 80px;
			}
			.coloredText {
				color: theme-var($iconAndHighlightTextColor);
				padding-left: 6px;
			}
		}
		.tierCardContainer {
			display: grid;
			padding: 44px 66px;
			column-gap: 150px;
			row-gap: 70px;
			width: 95%;
			grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
			overflow: auto;
		}
	}
}

.small {
	.rsLoyaltyTierPopup {
		margin: 21px auto;

		.tierPopupContainer {
			background: #ffffff;
			border-radius: 20px;
			box-shadow: 0 0 8px #00000029;
			width: 356px;
			height: 94%;

			.closeIcon {
				top: 12px;
				right: 16px;
			}
			.tierCardContainer {
				padding: 15px 15px;
				width: 90%;
			}
		}
		.popupHeader {
			align-items: center;
			.headerText {
				padding: 15px 15px;
			}
		}
	}
}
