@import '../../themes/themes';

.small .rsCheckoutReservationSummaryCard {
	flex-direction: column;
	margin-bottom: 32px;

	.cardImage {
		width: 100%;
		object-fit: cover;
		border-radius: 20px;
	}

	.infoWrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 32px 14px 24px 14px;
	}
	.resortWrapper {
		display: flex;
		justify-content: space-between;
	}
}

.rsCheckoutReservationSummaryCard {
	display: flex;
	margin-bottom: 76px;

	& .rsLabel {
		color: theme-var($primaryTextColor);
	}

	.cardImage {
		width: 384px;
		height: 304px;
		border-radius: 20px;
	}

	.infoWrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 40px 32px 40px;

		.resortWrapper {
			display: flex;
			align-items: center;

			.resortLogo {
				width: 118px;
				margin-right: 24px;
			}
		}
	}
}
