@import '../../themes/themes';
.rsLabelSelect {
	background-color: inherit;
	position: relative;
	.rsLabel {
		&.caption {
			margin-bottom: 10px;
		}
	}

	.rsSelect {
		max-width: 200px;
		margin: 0;
	}
	.rsSelect [class*='container'] {
		border-radius: 5px;
	}
}
