@import '../../themes/themes';
.rsItineraryInfoCard {
	width: 700px;
	background: theme-var($primaryBackgroundColor);
	padding: 40px;
	.logoImg {
		margin-left: 8px;
		width: 70px;
	}
	.rsLabelLink {
		position: absolute;
		top: 27px;
		left: 40px;
	}
	.rsLabelButton {
		margin: 0 auto;
	}
}

.small {
	.rsItineraryInfoCard {
		width: 100%;
		text-align: center;
		padding: 24px 16px;
	}
}
