@import '../../themes/themes';
.rsLabelLink {
	display: flex;
	align-items: center;
	width: fit-content;
	width: -moz-fit-content;
	.iconLeft {
		margin-right: 7px;
	}
	.iconRight {
		margin-left: 7px;
	}
	.rsLabel {
		color: theme-var($buttonLinkColor);
		&:hover {
			text-decoration: underline;
		}
	}
}
