@import 'src/themes/themes';

.rsResetPasswordPage {
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.small {
	.rsSignInPage {
		.container {
			width: 100%;
			.signInSection {
				padding: 50px 40px 0;
			}
		}
		.emailInput {
			.rsInput {
				max-width: 200px;
				width: 200px;
			}
		}
		.rsFooter {
			margin: 0;
			padding: 0 20px;
		}
	}
}
