@import 'src/themes/themes';

.rsResetPasswordPage {
	.rsHeroImage {
		position: relative;

		.container {
			display: grid;
			justify-content: center;

			.passwordPaper {
				margin-top: 170px;

				.resetPasswordTitle {
					display: grid;
					justify-content: center;
					margin-bottom: 5px;
					border-bottom: 1px solid theme-var($disableTextColor);
					padding-bottom: 20px;
				}

				.errorText {
					color: theme-var($errorColor);
					margin: 20px auto;
					width: 100%;
				}

				.rsLabelInput {
					margin-top: 20px;
					.rsInput {
						max-width: 100%;
						width: clamp(200px, 300px, 300px);
					}
					.rsInputErrorMessage {
						width: 300px;
						word-wrap: normal;
					}
				}
				.resetButton {
					margin: 20px auto;
				}

				.signInLink {
					margin: 0 auto;
				}
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.small {
	.rsSignInPage {
		.container {
			width: 100%;
			.signInSection {
				padding: 50px 40px 0;
			}
		}
		.emailInput {
			.rsInput {
				max-width: 200px;
				width: 200px;
			}
		}
		.rsFooter {
			margin: 0;
			padding: 0 20px;
		}
	}
}
