@import 'src/themes/themes';

.rsRewardDetailPage {
	.rs-page-content-wrapper {
		padding-top: 120px;
		margin: 0 140px;
	}

	.rewardDetails {
		padding-bottom: 140px;
		padding-top: 45px;
		margin: 0 140px;
		display: flex;

		.carouselContainer {
			width: clamp(278px, 530px, 530px);

			.rsCarousel {
				height: 450px;
				width: 450px;
				min-width: 278px;

				.carouselParent {
					overflow-x: hidden;
					max-height: 530px;
				}

				.imageWrapper {
					width: 530px;
					height: 450px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}

		.rewardDetailsRight {
			padding-left: 60px;
			padding-top: 5px;

			.rewardUpc {
				padding-top: 15px;
			}
			.rewardDescription {
				padding-top: 15px;
			}
			.pointCostContainer {
				padding-top: 30px;

				.pointCost {
					padding-top: 5px;
					color: theme-var($iconAndHighlightTextColor);
				}
			}
			.buyButton {
				margin-top: 35px;
			}
			.disabledButton {
				margin-top: 35px;
				background-color: theme-var($disableTextColor) !important;
				cursor: inherit;
			}
			.blankMorePoints {
				padding-top: 15px;
			}
		}
	}
}

.small {
	.rsRewardDetailPage {
		.rewardDetails {
			margin: 0 20px;
			flex-direction: column;

			.rewardDetailsRight {
				padding-top: 20px;
				padding-left: 0;
			}

			.carouselContainer {
				width: 278px;
				height: 278px;
				overflow-y: hidden;

				.rsCarousel {
					width: 278px;
					height: 278px;
				}
			}
		}
	}
}
