@import '../../../themes/themes';
.rsAccommodationSearchResultCardMobile {
	width: 345px;
	border-bottom: 1px solid theme-var($greyLineColor);
	box-sizing: border-box;
	padding-bottom: 20px;
	.rsCarousel {
		margin: 0 auto 16px;
		height: 290px;
		width: 345px;
		min-width: 345px;
		.carouselParent {
			overflow-x: hidden;
		}
		.imageWrapper {
			width: 345px;
			height: 290px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.rsAccommodationSearchDetailCard {
		background-color: rgb(247, 241, 219);
		padding: 15px 25px;
		box-sizing: border-box;

		.amenityIcons {
			width: 100%;
			text-align: center;
		}
	}
	.compareBtn {
		margin: 10px auto 0;
	}
}
