@import 'src/themes/themes';
@import '../../variables.scss';

.rsFeatureRoomCard {
	position: relative;
	.limitOfferWhiteBox {
		top: 0;
		left: 0;
		height: 25px;
		width: 114px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;

		.limitOfferLabel {
			display: flex;
			align-items: flex-end;
		}
	}
	.mainImg {
		height: 160px;
		width: 270px;
	}
	.titleLabel {
		margin-top: 5px;
	}
	.discountLabel {
		margin-top: 9px;
	}
	.bookNowPathLink {
		text-transform: uppercase;
		margin-top: 3px;
		font-size: 12px;
		line-height: 31px;
		color: #004b98 !important;
		font-weight: 600;
		&:hover {
			cursor: pointer;
		}
	}
	.bookNowIcon {
		margin-left: 5px;
	}
}
