@import '../../themes/themes';

.rsSignInPage {
	.rs-page-content-wrapper {
		background-image: url('../../images/signInPage/signIn-background.png');
		background-repeat: no-repeat;
		background-position: 100%;
		background-size: cover;
		animation: fadeIn 1s;
		padding-top: 1px;

		.container {
			width: 470px;
			height: 100%;
			background: #fcfbf8 0% 0% no-repeat padding-box;
			box-shadow: 0px 5px 15px #1e180b33;
			margin: 170px auto 104px auto;

			.rsLabelInput {
				.rsInput {
					width: 100%;
					max-width: 100%;
				}
				margin-bottom: 10px;
			}

			.signInSection {
				padding: 50px 85px 0;

				.h1 {
					text-align: center;
					margin-bottom: 5px;
				}
				.signInButton {
					margin: 19px auto 0 auto;
					width: 140px;
				}

				.forgotPassword {
					div {
						text-align: center;
						margin: 25px auto 0 auto;
					}
				}

				.rsErrorMessage {
					color: theme-var($errorColor);
					letter-spacing: 0.15px;
					font-weight: 400;
					line-height: 20px;
					align-self: flex-end;
					font-size: 14px;
				}
			}

			.signUpSection {
				border-top: 1px solid theme-var($greyLineColor);
				height: 95px;
				margin-top: 30px;

				.rsBox {
					text-align: center;
					margin: 30px auto;

					.rsLabel {
						margin: 0 auto;
					}
				}
			}

			.rsLabelLink {
				margin: 0 auto;
			}
		}

		.rsFooter {
			background: white;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.small {
	.rsSignInPage {
		.container {
			width: 100%;
			.signInSection {
				padding: 50px 40px 0;
			}
		}
		.rsFooter {
			margin: 0;
			padding: 0 20px;
		}
	}
}
